[2016-03-04 16:58] mostaphaRoudsari opened #1 "Write data management classes for DataTrees"
Here is a good start: https://gist.github.com/piac/ef91ac83cb5ee92a1294

- [x] always good to simplify!
- [x] save the pattern based on input datatree
- [x] Check for None inputs to restructure the results.

**DataTrees are evil!**

[2016-03-04 16:59] mostaphaRoudsari opened #2 "Add createHBSurface node"
This is all there. I just need to write the code inside the component.

[2016-03-09 15:23] mostaphaRoudsari commented on #1
via https://github.com/ladybug-analysis-tools/honeybee-grasshopper/commit/7ef5c5a0af17a26820e61eadbe5a0473db5253d9

[2016-03-09 15:23] #1 closed

[2016-03-09 15:27] mostaphaRoudsari commented on #2
https://github.com/ladybug-analysis-tools/honeybee-grasshopper/commit/9171741a596e330987562febef78a66a75287072

[2016-03-09 15:27] #2 closed

[2016-03-12 21:34] mostaphaRoudsari opened #3 "Collect Paths for points and recreate them for results analysis"
Currently I return the values without the path itself and results will be graphed as a simple tree based on the length of the group.

This workflow works fine but is not perfect. Imagine a case that user generates test points for several buildings as {building, floor number}. For instance data can be structured as: `{0,0}, {0,1}, {0,2}, {1,0}`

The output of the current development will be: `{0},

[2016-03-12 21:48] sariths opened #4 "What is the designed testing approach during the development?"
HI @mostaphaRoudsari , How do I start adding/test scripts? For all the scripts that I have written for Honeybee (IES) till now, I was working fairly independently of your scripts so I didn't have to import anything other than the folder paths and native Gh or Python components.

Since that will not be the case here, should I simply code inside the Github /Honeybee-core directory of my computer ?

[2016-03-12 21:57] mostaphaRoudsari commented on #4
Hi @sariths,

Yes. The best way that I know is to work on the same code. We can branch out for major developments but for active development right now working on the same code will work fine as far as we commit frequently and keep syncing with the branch before adding, removing stuff.

Since the code is pretty broken down in modules we should not get so many conflicts.

I'm writing a number of tes

[2016-03-12 23:24] sariths opened #5 "The gh file called by test.py does not indicate if the error was a file path issue."
@mostaphaRoudsari ,

I just ran the test.py file and found that it didn't work the first time around as my path wasn't set. However, the sample.log file only says that "Number values are not as expected.

Can we add these lines to the script that writes to the log file ?

![3-12-2016 6-23-34 pm](https://cloud.githubusercontent.com/assets/10361848/13725928/8ca1a104-e87f-11e5-8669-911afd047beb.png)

[2016-03-13 21:53] mostaphaRoudsari commented on #5
Hi @sariths! Great catch. I think we need to find all the components with error messages on the canvas and add their error report to the log file.

BTW my example file is not a good example for testing. I need to break it down into smaller files that tests only a single component.

[2016-03-26 14:28] mostaphaRoudsari opened #6 "detecting platform for revit can fail"
in some cases cwd if c:\. There should be a better way more than using ```getcwd``` to detect the platform.

[2016-03-26 18:51] sariths commented on #6
@mostaphaRoudsari Which platform are you referring to ? Is it operating system related ? If yes, then sys.platform along with os.sep works for me everytime.

[2016-03-26 19:08] mostaphaRoudsari opened #7 "What is the best approach to automate taking the geometries from REVIT view?"
@ksobon showed me this workflow which works great to get all the geometries as they are.

![image](https://cloud.githubusercontent.com/assets/2915573/14060922/f67d37e0-f348-11e5-8635-b877314a32d3.png)

This will work fine for all the elements but the Window. In window I need to extract the glazing and pick one of the  two (or many) to be exported to Radiance. There are solutions like sorting the s

[2016-03-26 19:14] mostaphaRoudsari commented on #6
Thanks @sariths. It's the [honeybee config.platform](https://github.com/ladybug-analysis-tools/honeybee-grasshopper/blob/master/honeybeegrasshopper/config.py#L18-L144) which returns indicates if the script is running from Grasshopper, Dynamo, Revit or just command line.

BTW now all the geometries are in the same place so we can re-use the same code for both dynamo and grasshopper. Well...[almost

[2016-04-24 18:11] mostaphaRoudsari opened #8 "Frozen decorator doesn't work nicely with descriptors"
Everything is fine for the first run but when I re-run the component I get errors from datatypes. I have been working on this for couple of hours and still don't fully understand why this issue is happening. I can't recreate the problem in Python which makes it very hard to debug.

I need to test this with a very simple example to figure out how to address the issue. It seems that wrapper method s

[2016-04-25 19:32] mostaphaRoudsari commented on #8
Turns out that it was an issue with addRadianceParameters. Grasshopper caches the classes so once an attribute is set it will be there for the next run. In the current implementation the code was trying to set the attribute to RadianceNumber while the attribute was already set to a RadianceNumber in the first run. The solution was to check for the attribute and only add the attribute in case it is

[2016-04-25 19:32] #8 closed

[2016-04-25 21:30] mostaphaRoudsari opened #9 "GridBasedAnalysisRecipe doesn't load the results successfully!"
The analysis runs fine and generates the results but it doesn't load the results back to Grasshopper and Dynamo.

[2016-04-25 23:09] #9 closed

[2016-04-25 23:31] mostaphaRoudsari opened #10 "Add sunlighthour analysisRecipe to honeybeex"
Haven't fully made my decision about this but I'm moving all the analysis types including sunlighthours to honeybee. It started because DynamoBIM couldn't handle heavy calculations but now I think it makes total sense to have sunlight hours under honeybee.

For the next step I need to validate the results against ladybug's vector based results (#11).

[2016-04-25 23:32] mostaphaRoudsari opened #11 "Validate sunlight hours results against ladybug's vector based component"

[2016-04-26 00:39] #10 closed

[2016-04-26 00:43] mostaphaRoudsari commented on #10
![image](https://cloud.githubusercontent.com/assets/2915573/14803301/50aea966-0b26-11e6-8d03-f7e6ae27cccd.png)

[2016-04-26 16:19] mostaphaRoudsari commented on #11
I started the process with testing an interior space with a blocking box. points the are close to the edge conditions are where the errors happens in Radiance
![image](https://cloud.githubusercontent.com/assets/2915573/14824903/a4b5344c-0ba5-11e6-95d7-b471dede2523.png)

Currently, I'm using ```-u``` and less than 3%  of points doesn't match the values from ladybug. This number can be increased by

[2016-04-26 21:33] sariths commented on #11
Hi @mostaphaRoudsari, how low did you keep the lw values? I remember using -lw at around 0.001 or lower. Are we confident that the truth simulation (ladybug) in this case is accurate ?  I couldn't affect any changes to the simulation by changing the ad value here:
![4-26-2016 5-31-38 pm](https://cloud.githubusercontent.com/assets/10361848/14834871/c4ed3e6a-0bd4-11e6-8b0a-61e6e5eb5b97.png)

Anyway,

[2016-04-26 22:18] mostaphaRoudsari commented on #11
Hi @sariths! Unless you turn off ```u``` switch I don't think changing ```ad``` is going to make a difference. I did try as less as 0.0001 and also tried to set the parameters based on 5-Phase tutorial. If you run the analysis a couple of times there is a chance to get the results with no errors but I think since this is just the direct view we should be able to get an always accurate results. I m

[2016-04-26 23:07] sariths commented on #11
There is some dark magic inside Radiance that I am always learning more about. I vividly remember this thread because of the image which Alstan had posted : [Missing solar source visibility from gendaylit for multiple ambient-bounces](http://radiance-online.org/pipermail/radiance-general/2015-June/010981.html). Unfortunately, his images aren't there anymore (thanks Dropbox :\ ). The discussion the

[2016-04-27 02:53] chriswmackey commented on #10
@mostaphaRoudsari ,
Does this mean that sunlight hours has been completely dissociated from the sunpath and sun vectors?  I just know that the bond between the two components  has historically been strong and I think that has helped in educating people about how to apply environmental analyses to design.
I definitely understand if the times are a changin', though.
-Chris

[2016-04-27 02:57] mostaphaRoudsari commented on #10
@chriswmackey It stays as it used to be. There are classmethods to calculate it from location and for analysis period but the default init is using sun vectors similar to what it is right now. You can check the grasshopper example [here](https://github.com/ladybug-analysis-tools/honeybeex/blob/master/test/sunlighthours_sample.gh). It's the same in Dynamo.

The only difference is that it's a part o

[2016-04-27 03:06] chriswmackey commented on #10
Ok.  Very cool.

[2016-04-27 05:12] sariths commented on #11
@mostaphaRoudsari I just read through a bunch of references on direct calculations. To me it appears that you are doing everything right. The primary settings for direct as per RwR and the supporting papers suggest dc and dt for improving/decreasing accuracy. Those two values are already set to the best levels.

I noticed that in the bat file on my system only dc is assigned.
`c:\radiance\bin\rcon

[2016-04-27 05:21] mostaphaRoudsari commented on #11
@sariths thanks for checking! I don't set dt currently in the recipe but I added it manually for testing. the same goes to lw. I will modify the recipe tomorrow. If that is the case then maybe we should also remove the ad input from the component and set it to a high default value.

As far as I have seen the error always stays for around %3 of the points with or without the context geometry. Maybe

[2016-04-27 05:25] sariths commented on #11
@mostaphaRoudsari I think asking them is a good idea. I am still reading on the subject. If I get anything more on this I will update it here.

[2016-04-29 18:44] chriswmackey opened #12 "Build in Capability to Set Transparency of Materials for Simple Radiation Studies"
It seems like it should if everything is being turned over to Radiance now, no?  See this discussion for more details:
http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1517657&xg_source=msg

-Chris

[2016-04-29 19:05] mostaphaRoudsari commented on #12
@chriswmackey with the daylight coefficient method that @sariths [is implementing](https://github.com/ladybug-analysis-tools/honeybee/issues/54) for honeybee implementing this will be a piece of cake.

PS: I think I can finally use this as an example of why I was pushing for using radiance daylight coefficient based radiation analysis for all the comfort models. There is actually much more that we

[2016-04-29 19:35] chriswmackey commented on #12
@mostaphaRoudsari ,
I agree and I am coming around to see a lot of the benefits too.  That sunlight hours example that you posted was very fast.
-Chris

[2016-05-20 19:50] chriswmackey opened #13 "OpenStudio Basic Integration Roadmap"
This is a general discussion that has been opened to set a road map for a very basic integration of the new Honeybee libraries with Open Studio.  Once we have this basic integration set, we can start to add more specific capabilities in.

The very general road map that is as follows (number of the points does not correspond to any order that they have to be implemented):
1) Investigate OpenStudio'

[2016-05-31 22:40] mostaphaRoudsari commented on #7
I can start [here](https://forum.dynamobim.com/t/use-room-windows-node/4244/4).

![image](https://forum.dynamobim.com/uploads/dynamobim/original/2X/c/c8cb5496a8aee64fed03a1a91087b31becdd06dc.png)

[2016-05-31 22:44] ksobon commented on #7
dude this is all still a little shaky. Look for how Revit exports to gbxml for energy analysis. I bet there is a way already in there to access these surfaces in some clean and elegant way rather then breaking down walls/windows.

[2016-05-31 22:49] mostaphaRoudsari commented on #7
@ksobon! Haha. I **love** comments like this. Agreed 100% but where can I *look for how Revit exports to gbxml for energy analysis*? My best chance was the analytical model which at the time I couldn't figure out how to decompose. Maybe I should give it another try in Revit 2016. Let me know where do you think is the right place to start.

[2016-06-02 21:51] arif-hanif commented on #7
@ksobon gbxml resolution is not water tight which is the issue.

[2016-06-02 21:59] ksobon commented on #7
@mostaphaRoudsari if @arif-hanif says that gbxml is not good for this, then yes, you are back to square one. I just wanted to make sure that you were considering all other options before pursuing the brute force approach. :+1:

[2016-06-02 22:13] mostaphaRoudsari commented on #7
@ksobon I still have time to finalize my decision about this. I know that @arif-hanif has his own approach which uses rooms/spaces which will work fine for energy models but then doesn't give you enough details for daylighting. I have on my list to double check the analytical model for Revit 2016. There might have been changes that makes the process easier. Thank you both for your inputs.

[2016-06-02 22:23] ksobon commented on #7
Look at this: https://boostyourbim.wordpress.com/2013/07/19/net-and-gross-wall-area/

[2016-06-02 22:24] arif-hanif commented on #7
What was the detail you wanted

On Thursday, June 2, 2016, Mostapha Sadeghipour Roudsari <
znotifications@github.com
<javascript:_e(%7B%7D,'cvml','znotifications@github.com');>> wrote:

[2016-06-02 22:24] ksobon commented on #7
It might be just what you need for getting a wall face with holes in it, and then you can instead of deleting "openings" just collect them and make new faces for "windows".

[2016-06-02 22:30] mostaphaRoudsari commented on #7
@arif-hanif the three to start are cieling details, windows frames and shading geometries.

@ksobon that should work with a couple of exception handling but how do you get the vertices of the openings? Should I duplicate edges, calculate area, sort by area or is there a better API friendly solution?

[2016-06-02 22:35] ksobon commented on #7
at this point in code <code>Face netFace = w.GetGeometryObjectFromReference(sideFaceRef) as Face;</code> you will have a face object. You can query it for edges like so: <code>Face.EdgeLoops</code> which returns a <code>EdgeArrayArray</code>. its basically a nested list of edge curves. Just use these to create surfaces. The largest will be your main wall (outer edge), it might also be the first ar

[2016-06-02 22:40] mostaphaRoudsari commented on #7
@ksobon thanks! will keep you posted if I made any progress on this. :+1:

[2016-06-02 22:48] arif-hanif commented on #7
That is what I am doing, hope to get time to get into
Dynamo soon

On Thursday, June 2, 2016, Mostapha Sadeghipour Roudsari <
notifications@github.com> wrote:

[2016-06-29 14:03] mostaphaRoudsari commented on #7
@ksobon I ended up using something between what you have suggested and what I found on BuildingCoder's blog. [Here is the code](https://github.com/ladybug-analysis-tools/honeybeex/blob/master/honeybeex/revit.py#L128-L222). Thanks for your help. I will probably need to revisit this code so many times going forward but it works for what I need currently.

![image](https://cloud.githubusercontent.com

[2016-06-29 14:03] #7 closed

[2016-06-29 14:08] mostaphaRoudsari commented on #11
See these three discussions:

[Radiance options for direct sunlight calculation](https://unmethours.com/question/16941/radiance-options-for-direct-sunlight-calculation/)
[rcontrib error: internal - too many modifiers](https://unmethours.com/question/16666/rcontrib-error-internal-too-many-modifiers/)
[rcontrib misses one of the modifiers if number of modifiers between 240-420](https://unmethours.co

[2016-06-29 14:08] #11 closed

[2016-06-29 14:09] mostaphaRoudsari commented on #6
This hasn't happen to me recently and I can't recreate it.

[2016-06-29 14:09] #6 closed

[2016-06-30 14:12] arif-hanif commented on #7
This will work for individual windows but will not work for curtain walls.
I can help you with that.

On Wed, Jun 29, 2016 at 10:03 AM, Mostapha Sadeghipour Roudsari <
notifications@github.com> wrote:

[2016-06-30 14:21] mostaphaRoudsari opened #14 "Room To zones fails for curtain walls"
See [this comment](https://github.com/ladybug-analysis-tools/honeybeex/issues/7#issuecomment-229670346) from @arif-hanif.

@arif-hanif let me know how do you think we should get this fixed. Do you want to send a pull request? or share an example file so I can get it fixed?

[2016-06-30 14:22] mostaphaRoudsari commented on #7
@arif-hanif please do! I don't have an example with curtain wall. I was sure that there will be cases that this will fail. I opened a [new issue](https://github.com/ladybug-analysis-tools/honeybeex/issues/14)

[2016-07-10 23:29] #14 closed

[2016-07-10 23:53] mostaphaRoudsari commented on #14
![image](https://cloud.githubusercontent.com/assets/2915573/16716906/e96555d2-46d7-11e6-9dcf-146e36bcf018.png)

[2016-07-11 00:22] arif-hanif commented on #14
Sorry have not had a chance to work on this lately been rather busy, would like to test out when curtain wall spans, 2 or more spaces.

[2016-07-11 02:01] mostaphaRoudsari commented on #14
@arif-hanif no worries. Give it a try once you get a chance. It's already on the package manager. Version 0.0.5.

[2016-07-11 15:21] arif-hanif commented on #14
I downloaded 0.0.6 this morning, do you have a sample graph up on github?

[2016-07-11 17:00] mostaphaRoudsari commented on #14
Yes. We do. You can find an example with some notes about the radiance installation [here](https://github.com/ladybug-analysis-tools/ladybug-dynamo/issues/18#issuecomment-230919669).

[2016-07-15 19:20] arif-hanif opened #15 "Interior Column Bounding issue with Zone Creation"
Need to look at the order of the vertices when interior surfaces are within a zone such as shaft.

![image](https://cloud.githubusercontent.com/assets/8672758/16885997/8bd2c6e0-4a9f-11e6-9603-ac972fb532cc.png)

![image](https://cloud.githubusercontent.com/assets/8672758/16886003/95a05ebc-4a9f-11e6-9313-7164ed487aae.png)

[2016-07-18 00:56] arif-hanif commented on #15
This was working in version 0.0.4

[2016-07-21 16:04] antonszilasi opened #16 "A question about class names"
Perhaps I am missing something but I see in the file gridbasedAnalysisRecipe_node.py

    ###### start you code from here ###
    from honeybeex.radiance.recipe.gridbased import GridBasedAnalysisRecipe

![capture1](https://cloud.githubusercontent.com/assets/8773483/17029861/9d1737a0-4f32-11e6-82a6-fea95b051383.JPG)

Which I assume imports a instance of the class HBGridBasedAnalysisRecipe in gridba

[2016-07-21 16:04] antonszilasi opened #17 "Question about class names"
Perhaps I am missing something but I see in the file gridbasedAnalysisRecipe_node.py

    ###### start you code from here ###
    from honeybeex.radiance.recipe.gridbased import GridBasedAnalysisRecipe

![capture1](https://cloud.githubusercontent.com/assets/8773483/17029861/9d1737a0-4f32-11e6-82a6-fea95b051383.JPG)

Which I assume imports a instance of the class HBGridBasedAnalysisRecipe in gridba

[2016-07-21 16:04] #17 closed

[2016-07-22 04:44] antonszilasi opened #18 "Receiving error handle not initialized from Rooms to HBZones component"
I am receiving the error seen in the picture

![error not initialized](https://cloud.githubusercontent.com/assets/8773483/17046727/114dd4ee-4f9c-11e6-82bf-ef753bdfde06.JPG)

The full error is:

ERROR:
Handle is not initialized.

Traceback (most recent call last):
  File "<string>", line 41, in <module>
  File "C:\Users\szilasia\AppData\Roaming\Dynamo\Dynamo Revit\1.1\packages\Honeybee\extra\honeyb

[2016-07-25 16:27] antonszilasi opened #19 "Generate Test Points from HBZones not working for 2nd floor"
Script works for room number 1 and 2 however when room number 3 and 4 is entered it fails with the following error in the Generate Test Points from HBZones component

![capture](https://cloud.githubusercontent.com/assets/8773483/17108834/cf8cd7be-525a-11e6-9cfb-97e898c356a1.JPG)

ERROR:
Unable to slice bodies : BULLETIN_NOT_ON_BOARD -- remove bulletin from bulletin board it was not on

If you thin

[2016-08-01 18:00] antonszilasi commented on #19
Update: Strangely I cannot reproduce this error

[2016-08-08 02:22] antonszilasi opened #20 "Curtain walls not being picked up / differentiating between glazed solid panels and exporting to Grasshopper -"
@mostaphaRoudsari

I noticed that embedded curtain walls (Curtain walls embedded in basic walls) were not being picked up by convertRoomstoZone component however as soon as I changed the code here: https://github.com/antonszilasi/honeybeex/commit/0c7a6b868558bbced79e0065e0319844aa50edd8#diff-e692caba53dbe083b62e645153e173c0L57 it did start working.

Furthermore I noticed that there was no code to

[2016-08-08 14:57] antonszilasi opened #21 "Embedded curtain walls as high as walls not being picked up curtain walls detected"
As per this issue https://github.com/ladybug-analysis-tools/honeybeex/issues/20m curtain walls are now being detected, however curtain walls are detected as one whole element (no panels) furthermore when the curtain wall has the same height as the wall it is not being detected

Revit model

![revit screenshot 3](https://cloud.githubusercontent.com/assets/8773483/17484027/dc56da00-5d4d-11e6-88b6-d9

[2016-08-08 15:02] #21 closed

[2016-08-10 14:23] antonszilasi opened #22 "Code not working for Revit model with 2nd floor"
I added a 2nd floor with 3 rooms to the Revit model that was working well this my commit - https://github.com/antonszilasi/honeybeex/commit/b9b094c910861ead7bc4bb6e838cb36b31138d32

Now I am getting the error below.

ERROR:
Invalid structure for input points: (None,)

If you think this is a bug submit an issue on github.
https://github.com/ladybug-analysis-tools/honeybeex/issues

Traceback (most r

[2016-08-18 22:58] mostaphaRoudsari commented on #22
@antonszilasi thank you for reporting all the issues and providing the code and the files. I will check them next week and report back. :100:

[2016-08-18 22:59] mostaphaRoudsari commented on #18
@antonszilasi this is a dynamo issue. Restarting the file should solve the problem.

[2016-08-18 22:59] #18 closed

[2016-08-18 23:04] mostaphaRoudsari commented on #16
`GridBasedAnalysisRecipe` is a subclass of `HBGridBasedAnalysisRecipe` which has extra check for matching test points and point vectors. See the code here: https://github.com/ladybug-analysis-tools/honeybeex/blob/master/honeybeex/radiance/recipe/gridbased.py#L5

[2016-08-18 23:04] #16 closed

[2016-08-18 23:06] mostaphaRoudsari commented on #19
This looks like a dynamo issue but I keep it open so I can take a look.

[2016-09-07 12:21] yenhsuanho opened #23 "Code not working for honeybee with Generate Colors and Display.ByGeometryColor(node)"
hi all,
I followed the steps of tutorial video,
(SFDUG July 2016: LadyBug | A Parametric Environmental Plugin for Dynamo)
but now I am getting the error below in Generate Colors and Display.ByGeometryColor(node).

(As shown in the attached file)
# [Generate Colors]

ERROR:
interation over non-sequence of type StackValue.
If you think this is a bug submit an issue on github.
https://github.com/lady

[2016-09-11 22:06] mostaphaRoudsari commented on #23
I replied to this under honeybee repository: https://github.com/mostaphaRoudsari/Honeybee/issues/559

[2016-10-06 03:03] zhuang0927 opened #24 "The "Rooms to HBZones" node fails with the error "index out of range : 0""
when I connect the code "Collect Rooms and Spaces" to "Rooms to HBZones"   there is an error like the picture below @mostaphaRoudsari
![capture1](https://cloud.githubusercontent.com/assets/22611027/19138784/cd3bc610-8bb1-11e6-869c-17493cc52b26.png)
I am using Revit2016 and Dynamo1.2 ,the revit model is just the sample project , and other projects in my computer have the same problem.My Revit and D

[2016-10-06 05:16] zhuang0927 commented on #24
@chriswmackey

[2016-10-07 12:07] mostaphaRoudsari commented on #24
@zhuang0927 thanks for reporting. It's most probably a problem with our code. I will be working on this issue next week and will update this issue and others related to Rooms to HBZones.

[2016-10-25 01:23] zhuang0927 commented on #24
@mostaphaRoudsari hello! Have you solved this problem successfully? Could you mind sending me the nodes fixed if the library wont be updated recently? Thanks!

[2016-11-22 08:50] ejs-ejs opened #25 "Code not working on Revit 2017 / Dynamo 1.2"
Hi,

When running '03_SunlighthoursAnalysis.dyn' from Dynamo on Revit, the 'Sunpath' module spills an error:
It refers "%Profile%\Appdata\Roaming\\Dynamo\Dynamo Core\1.2\", while "%Profile%\Appdata\Roaming\Dynamo\Dynamo Revit\1.2\" is available only.

Seems the code is somehow not clean here:
_dynamoPaths = (_dynamoPath.replace('Dynamo Core', 'Dynamo Revit'),
                    _dynamoPath.replac

[2016-11-22 15:50] mostaphaRoudsari commented on #25
@ejs-ejs what's the error message? The code that you pasted is actually trying to avoid this issue by checking for Honeybee first under `Dynamo Revit` folder and then under `Dynamo Core`. Do you have Honeybee installed correctly?

[2016-11-22 15:54] ejs-ejs commented on #25
Sorry, i'm unable to copya the error message, because of the watches in Dynamo.

I've installed Honeybee and Ladybug via Dynamo package manager.
The sketch runs if i dumb-copy "Dynamo Revit" to "Dynamo Core" folder.

[2016-11-22 15:59] mostaphaRoudsari commented on #25
Hi @ejs-ejs. Thank you for the quick reply. Even if you can send me a screen capture that would be helpful. I will also try to recreate the issue on my system.

[2016-11-22 16:01] mostaphaRoudsari commented on #24
@zhuang0927 I gave up on fixing all the issues with RoomToHBZones. There are a lot of combinations and however it's possible to catch all of them, if Autodesk makes the room API access public I won't have to do all these checks: https://forums.autodesk.com/t5/revit-ideas/api-access-to-room-openings-geometry-and-materials-in-revit/idi-p/6642406

[2016-11-22 16:02] #23 closed

[2016-11-22 16:07] mostaphaRoudsari commented on #19
I can't reproduce this error. I'm going to close it for now.

[2016-11-22 16:07] #19 closed

[2016-11-22 16:08] mostaphaRoudsari commented on #15
@arif-hanif  there are a lot of combinations to be addressed for this issue and however it's possible to catch all of them, if Autodesk makes the room API access public we won't have to do all these checks. I opened this idea so they hopefully will address it at some point: https://forums.autodesk.com/t5/revit-ideas/api-access-to-room-openings-geometry-and-materials-in-revit/idi-p/6642406

[2016-11-22 16:11] arif-hanif commented on #15
Agreed, good idea!

On Tue, Nov 22, 2016 at 11:08 AM, Mostapha Sadeghipour Roudsari <
notifications@github.com> wrote:

[2016-11-22 16:14] ejs-ejs commented on #25
Hi,
this is multi-part screen capture from Dynamo ;)
![paveikslas](https://cloud.githubusercontent.com/assets/14044646/20531320/1519fdec-b0df-11e6-8635-b1c019e7ea71.png)
![paveikslas](https://cloud.githubusercontent.com/assets/14044646/20531365/33b46440-b0df-11e6-8a81-8ce8865982a4.png)
![paveikslas](https://cloud.githubusercontent.com/assets/14044646/20531401/4f7ce08a-b0df-11e6-9dde-28fedf5d4751.p

[2016-11-22 16:24] mostaphaRoudsari commented on #25
Thanks! I'm checking the issue now.

[2016-11-22 17:26] mostaphaRoudsari commented on #25
I uninstalled Ladybug and Honeybee and installed ladybug from package manager and then tried to recreate the issue but everything works fine. You can write the content of the watch component to a text file like this.

![image](https://cloud.githubusercontent.com/assets/2915573/20534314/cf340744-b0ae-11e6-8ae8-65b6133f7e8f.png)

I think the best way to understand the issue is to run the code that t

[2016-11-22 17:41] ejs-ejs commented on #25
Confirm
C:\Program Files\Dynamo\Dynamo Core\1.2\ProtoGeometry.dll
Dynamo\Dynamo Core\1.2
Dynamo\Dynamo Revit\1.2
Dynamo\Dynamo Core\1.2

[2016-11-22 17:47] Dheb19 commented on #25
I uninstalled and re-installed the Ladybug and Honeybee packages, and ran the script above. I get the same output as yours but still the same error when trying to run Ladybug nodes.
The screen shot is trying to get an .epw file saved on my desktop.
![ladybug errno 2](https://cloud.githubusercontent.com/assets/23659947/20535150/28b01d16-b0ba-11e6-87ed-c216a5bcb592.jpg)

[2016-11-22 18:18] mostaphaRoudsari commented on #25
Thank you both. We are very close to get to the bottom of this.

There are two possibilities:
1. The Path.Combine fails to generate the right path that we will know once you run the code below.
2. There is no DynamoSettings.xml file in your installation which is quite strange but possible.

Can you run the code below and see if it outputs these two paths?
C:\Users\`your usename`\AppData\Roaming\Dy

[2016-11-22 18:18] ejs-ejs commented on #25
BTW: DynamoSettings.XML contains:
`<CustomPackageFolders>
    <string>C:\Users\ejs.ARCHES\AppData\Roaming\Dynamo\Dynamo Revit\1.2</string>
  </CustomPackageFolders>`

[2016-11-22 18:26] ejs-ejs commented on #25
C:\Users\ejs.ARCHES\AppData\Roaming\Dynamo\Dynamo Revit\1.2\DynamoSettings.xml
C:\Users\ejs.ARCHES\AppData\Roaming\Dynamo\Dynamo Core\1.2\DynamoSettings.xml

There should be no second one i suppose, if Dynamo is only executed from Revit?

[2016-11-22 18:27] Dheb19 commented on #25
This is what I get when I run the script, however when I go to the Dynamo Folder the "Dynamo Core" is not there.
![dynamo root](https://cloud.githubusercontent.com/assets/23659947/20536529/d2884106-b0bf-11e6-860a-57d54d4742b8.jpg)

C:\Users\denis_h\AppData\Roaming\Dynamo\Dynamo Revit\1.2\DynamoSettings.xml
C:\Users\denis_h\AppData\Roaming\Dynamo\Dynamo Core\1.2\DynamoSettings.xml

[2016-11-22 18:32] mostaphaRoudsari commented on #25
Very helpful! It should not check the second path if the packages are available in the first one. Let me check and get back to you soon.

[2016-11-22 20:03] mostaphaRoudsari commented on #25
I pushed new versions for both Ladybug and Honeybee to the package manager that should address this issue. Thank you for reporting and your help to get it fixed!

[2016-11-22 20:03] #25 closed

[2016-11-22 20:20] Dheb19 commented on #25
Thank you! Great work.

[2016-11-27 05:35] mostaphaRoudsari opened #26 "Add startcorner to sort points"
Currently it's fine but this will be important for energy modeling.

[2016-12-14 15:45] DambronOlivier opened #27 "Installation issue, files self-deleted"
@mostaphaRoudsari

1 ) After adding 2 folder paths to the GrasshopperDevelopperSettings:

C:\Users\OlivierDambron\AppData\Roaming\McNeel\Rhinoceros\5.0\scripts\honeybee_grasshopper\
and
C:\Users\OlivierDambron\AppData\Roaming\McNeel\Rhinoceros\5.0\scripts\honeybee-plus\honeybee-plus-master\plugin\grasshopper\src\

2 ) In an example file, I run a python component:

3 ) Enable/Disable the red compon

[2016-12-14 16:56] mostaphaRoudsari commented on #27
Hi @DambronOlivier, Do you use Honeybee's (not honeybee[+]) update component? Unless you're using the most recent version of honeybee that will remove any userobject that starts with "Honeybee" including HoneybeePlus components. Is it possible to update honeybee for Grasshopper?

[2016-12-18 17:08] DambronOlivier commented on #27
Hi @mostaphaRoudsari , I have updated successfully through Honeybee[+] component.
I must have had conflicting folders when importing Honeybee and Honeybee[+]. All is good, thanks.

[2016-12-18 22:23] antonszilasi commented on #13
@chriswmackey @mostaphaRoudsari
Would point 6 be computed in Rhino using the Rhino geometry libraries or would it use the Honeybee + geometry libraries?

Also apart from cleaner code what are the advantages of honeybee plus, is computation time going to be cut down?

[2016-12-21 18:29] andrewkukla opened #28 "Radiance Opaque material"
Hi,

I was wondering whether is is possible to define the properties of the opaque Honeybee surfaces?
Does anyone know what are the default values for floors, walls and roofs?
Honeybee surface seems to need a Radiance material. Is using glass with transmittance=0.0 for opaque surfaces allowed?
![image](https://cloud.githubusercontent.com/assets/24529228/21401118/f2cb7328-c7aa-11e6-82c8-7910845531e

[2016-12-21 21:32] sariths commented on #28
Hi @andrewkukla , assuming that you are are working on a Daylighting simulation, you should use the plastic material to define an opaque surface. Glass with zero transmittance will absorb all the energy that is incident on it.

[2016-12-22 18:28] andrewkukla commented on #28
There isn't such node in Honeybee. Does any one know whether this and other day lighting functionality is coming in the next version?

[2016-12-23 10:25] schaggar16 opened #29 "Generate Test Points by Grid Size"
i am using Revit 2016 / Dynamo 1.2 / Honeybee 0.0.8

With the sample .RVT file in the extras folder, i am trying to use the 'Honeybee Surface' node to generate the geometry - which works.
However, when i look to use the 'Generate Test Points by Grid Size' node, i get the following error:
ERROR:
	len() of unsized object
If you think this is a bug submit an issue on github.
https://github.com/ladybu

[2016-12-23 15:55] mostaphaRoudsari commented on #28
Hi @andrewkukla,

Sorry for the late reply. We don't have a node currently that exposes the opaque materials but you can create your own by using the API. Copy these lines in a Python node with two inputs. The first input is the name and the second is the reflectivity of the surface. Also change %USERNAME% in line 3 to your username.

We will add a node for this in the next release.

[code]

![ima

[2016-12-23 15:55] #28 closed

[2016-12-23 16:00] mostaphaRoudsari commented on #29
@schaggar16 can you share the geometry that you're using to generate the test points? Is it part of the sample model?

[2016-12-23 16:27] schaggar16 commented on #29
Hi, I am using the sample file. And using the select faces node to input into the honeybee surface node.

[2016-12-28 15:46] antonszilasi opened #30 "honeybee_grasshopper module object has no attribute hbsurface"
@mostaphaRoudsari

This is an error that has been popping up some time to time and I'm scratching my head, I actually got it to work by restarting Rhino all together thereby re-setting all the modules in IronPython. Now however that doesn't seem to work even with your Honeybee installer.

![module object has no attribute](https://cloud.githubusercontent.com/assets/8773483/21525314/2354f7d0-cce2-11

[2016-12-29 11:18] DambronOlivier opened #31 "Daylight Coefficient Image Based Error"
Hi @mostaphaRoudsari

After trying out the sample file  of DC Image Based using the sky matrix, the following error comes up:
![capture](https://cloud.githubusercontent.com/assets/21184323/21542760/89a64ae6-cdc0-11e6-9e6d-dfe004dcae18.PNG)

I have been trying out with three different epw, still in vain.

[2016-12-30 03:37] mostaphaRoudsari commented on #30
@antonszilasi this is a known bug and and @DambronOlivier shared the current solution. It's an issue with how Grasshopper caches the libraries. will be fixed soon.

[2016-12-30 03:40] mostaphaRoudsari commented on #31
Hi @DambronOlivier, the error is happening because for some reason the images are not created, or created with a different name and the component fails to find and rename them. Can you open the component and comment [these lines](https://github.com/ladybug-analysis-tools/honeybee-plus/blob/master/plugin/grasshopper/src/HoneybeePlus_Run%20Radiance%20Analysis.py#L69-L73) and see what will be the out

[2017-01-02 12:19] schaggar16 commented on #29
i have attached the revit file i am using.

[2017-01-05 17:05] andrewkukla opened #32 "Generate test points by gridsize runs w/o an input for _borders"
I have extracted surfaces form Revit conceptual model and created HB surfaces.
Run Radiance says that they are not valid. Any idea why?

![image](https://cloud.githubusercontent.com/assets/24529228/21689509/7cbe4c0e-d368-11e6-9c51-cc42110b57d3.png)

[2017-01-05 17:08] mostaphaRoudsari commented on #32
Hi @andrewkukla! Because the first item is a list. If you flatten the surfaces before connecting it to the node it should work fine. We can also add that as a check to the node.

[2017-01-05 17:47] andrewkukla commented on #28
Hi @mostaphaRoudsari, I did as instructed and it worked.
Thank You!

[2017-01-05 18:08] andrewkukla commented on #32
Hi @mostaphaRoudsari, Thanks for the quick reply.
Flattening indeed solves the problem with the HBsurfaces.
Now it seems I have an issue with my recipe.
The error shows up when I connect it to Run Radiance Simulation node.
![image](https://cloud.githubusercontent.com/assets/24529228/21691624/44501c86-d371-11e6-8881-264bb8244ff8.png)

I have used "Generate test points" from LB because "Generate Tes

[2017-01-05 18:12] mostaphaRoudsari commented on #32
Hi @andrewkukla, It's hard to day without checking your file. Can you share your file with me?

[2017-01-06 09:33] andrewkukla commented on #32
Hi @mostaphaRoudsari, please find attached the .rvt and .dyn files.
[daylight DLF CI sky from conceptual mass 170105.zip](https://github.com/ladybug-analysis-tools/honeybee-plus/files/689471/daylight.DLF.CI.sky.from.conceptual.mass.170105.zip)
I really appreciate your help.
I saw in another post that  "len() of unsized object" is identified as a bug.
Do you have a time-frame for the fix?

[2017-01-07 00:01] antonszilasi opened #33 "How to debug code in Honeybee and Honeybee plus external libraries?"
@mostaphaRoudsari

Perhaps I'm missing something here but reloading modules both in the Rhino EditPythonScript and Grasshopper python scripts (Since they are both the same environment with the same sys.modules()) doesn't seem to work at least not consistently.

The only consistent way is to close Rhino and open it thereby loading the modules from scratch but this is really slow, so how did you go

[2017-01-07 22:24] chriswmackey commented on #33
@antonszilasi ,
You should be using [Atom](https://atom.io/) to edit code along with the [Atom Script package](https://atom.io/packages/script) and standalone [Python 2.7](https://www.python.org/downloads/) to run the code.
-Chris

[2017-01-07 23:51] mostaphaRoudsari commented on #33
@antonszilasi you need to reload the module. Grasshopper caches the libraries once imported. That's why you won't see the updates. Let's say you have changed something in `hbsurface` then you need to do:

[code]

[2017-01-08 05:09] chriswmackey commented on #33
That also works.  Thanks for that, @mostaphaRoudsari .  It will make things a lot easier when working in the GH interface.

[2017-01-08 14:23] mostaphaRoudsari commented on #33
@antonszilasi and @chriswmackey, to make sure that you load and change the code from the folder that is synced to GitHub use butterfly component. makes sure it is imported from the right location. Otherwise butterfly will be loaded from the installation folder.

![image](https://cloud.githubusercontent.com/assets/2915573/21750567/03dc9b24-d584-11e6-9fcc-ce93cb588f8c.png)

@antonszilasi I think we

[2017-01-09 01:36] #33 closed

[2017-01-13 15:19] schaggar16 commented on #32
Hi @mostaphaRoudsari, i am also getting the same ToRadString() error when using HBSurface. I have attached my dynamo graph. I am looking to generate the geometry withing Dynamo rather than pull it from Revit.
[HBSurface_Test.zip](https://github.com/ladybug-analysis-tools/honeybee-plus/files/704614/HBSurface_Test.zip)

[2017-01-14 00:17] mostaphaRoudsari commented on #32
Hi @andrewkukla and @schaggar16 I will check this issue over the weekend and let you th results. Sorry for the delay.

[2017-01-16 14:27] mostaphaRoudsari commented on #32
This error is happening because you haven't provided the _borders for the input testSurfaces. I should have not provided a null value as default for _borders as it is a required input. If you create the border of the surface as a polygon and connect it to the input it will work fine.

![image](https://cloud.githubusercontent.com/assets/2915573/21986573/f7d22c36-dbcd-11e6-815b-1ad7ccb19198.png)

I'

[2017-01-17 16:31] #30 closed

[2017-01-17 16:31] mostaphaRoudsari commented on #30
This should be fixed now. Update the code and restart Rhino and Grasshopper and it should work fine afterwards!

[2017-01-17 16:46] mostaphaRoudsari commented on #29
This is already answered here: https://github.com/ladybug-analysis-tools/honeybee-plus/issues/32#issuecomment-272874432

[2017-01-17 16:46] #29 closed

[2017-01-17 20:49] mostaphaRoudsari commented on #31
Hi @DambronOlivier, Did you have the file from an earlier study open? The error message has a Windows Error. I will add a catch for this to give a warning instead of crashing.

[2017-01-18 01:57] mostaphaRoudsari commented on #27
This is fixed both for the update and the import issue.

[2017-01-18 01:57] #27 closed

[2017-01-18 02:03] mostaphaRoudsari commented on #31
This should be fixed now. Thanks @DambronOlivier for reporting the issue.

[2017-01-18 10:45] DambronOlivier commented on #31
Hi @mostaphaRoudsari ,
Thanks for all the updates.

I still do get a permission issue.
![capture5](https://cloud.githubusercontent.com/assets/21184323/22060848/72f8be6e-dd6a-11e6-9842-744d09951923.PNG)

I have tried to change the permissions to the whole folder C:\Ladybug and this comes up:
![capture6](https://cloud.githubusercontent.com/assets/21184323/22061004/f8d86354-dd6a-11e6-8015-e127da03329

[2017-01-18 11:07] DambronOlivier opened #34 "True/False to Write input of Run Radiance Analysis component"
@mostaphaRoudsari

When setting a new name for the subFolder and the write to True, we need to turn it to False and back to True again, before the folder is recognized properly.
![first time click write dcib](https://cloud.githubusercontent.com/assets/21184323/22061723/2fb82186-dd6e-11e6-84c2-cca6c3f55192.PNG)

![first time click write dcib2](https://cloud.githubusercontent.com/assets/21184323/220

[2017-01-18 11:38] DambronOlivier opened #35 "EPW to WEA for Daylight coefficient simulations"
Hi @mostaphaRoudsari ,

I encountered this issue when using an epw file from Meteonorm.
![captureaa](https://cloud.githubusercontent.com/assets/21184323/22062551/3db9ae9a-dd72-11e6-9937-4a69e3652445.PNG)

In order to solve this I opened the epw and replaced the "LONDON/GATWICK" by "LONDON GATWICK".
Worked well. Perhaps others will encounter this as well.

![capturebb](https://cloud.githubuserconte

[2017-01-18 13:13] mostaphaRoudsari commented on #31
@DambronOlivier thanks for testing the updated version. At least it doesn't crash!

Hmm. 1KB hdr file shows that the file is corrupted but that shouldn't make a difference for renaming. Try to run the script below and let's see if you get the similar error. Is the 001 image also 1KB?

In the image-based analysis `results` just collect the path to the images in the folder so that shouldn't be the p

[2017-01-18 13:27] mostaphaRoudsari commented on #34
@DambronOlivier can you restart Rhino and try this again. This should be fixed after the last night updates. I can't recreate the error. Also how do you update honeybee[+]? I wonder if the files are not updated correctly.

[2017-01-18 13:34] mostaphaRoudsari commented on #31
I can recreate the error on Windows 10! I'll keep you posted.
![image](https://cloud.githubusercontent.com/assets/2915573/22066027/ee5d11fc-dd58-11e6-84ea-0f863f89b404.png)

[2017-01-18 13:49] DambronOlivier commented on #34
Yes indeed, it works now that I have restarted Rhino.
I had only unloaded and reloaded the Grasshopper plugin.

Thank you @mostaphaRoudsari

[2017-01-18 13:49] #34 closed

[2017-01-18 13:58] #22 closed

[2017-01-18 13:59] mostaphaRoudsari commented on #22
We're not going to use this method anyways so I'm closing the related issues that I cannot reproduce.

[2017-01-18 14:01] mostaphaRoudsari commented on #31
Here is what makes the hdr files for matrices corrupt. I assume these issues are coming from the same source.
![image](https://cloud.githubusercontent.com/assets/2915573/22066790/9823eff0-dd5c-11e6-9a01-65d669c3a117.png)

[2017-01-20 01:50] #31 closed

[2017-01-20 01:53] mostaphaRoudsari commented on #31
@DambronOlivier this issue turns out to be deep down in calculating view size in Radiance. It was happening since you were trying a non-square view. This should be fixed now. Update honeybee libraries, close Rhino and re-run the grasshopper definition. Make sure to set reuse daylightMTX to False so it overwrites the current failed hdrs.
![image](https://cloud.githubusercontent.com/assets/2915573/2

[2017-01-20 01:59] #35 closed

[2017-01-20 02:00] mostaphaRoudsari commented on #35
Thanks @DambronOlivier for reporting! This should also be fixed now.

[2017-01-20 16:45] DambronOlivier commented on #35
Thank you @mostaphaRoudsari !

[2017-01-20 16:50] DambronOlivier commented on #31
@mostaphaRoudsari
Wonderful!

[2017-01-20 17:03] schaggar16 commented on #32
Thanks @mostaphaRoudsari. seems to have worked but i am now getting a new error within the Run Radiance simulation Node - it cannot find None/ocave.exe - i believe this maybe an issue with my Radiance install but would like to confirm with you first.

[2017-01-21 12:41] DambronOlivier opened #36 "RadParameters and RfluxmtxParameters for Honeybee recipes"
Hi @mostaphaRoudsari ,

When using the sample file of 04_daylight_coefficient_daylight_analysis_Image
I find noise on the render:

![inside_ne_06_21_09](https://cloud.githubusercontent.com/assets/21184323/22174325/7aaf952c-dfd3-11e6-9556-bddef37c793b.png)

I have been trying to set the RfluxmtxParameters as following, though I get an error :
![param](https://cloud.githubusercontent.com/assets/2118

[2017-01-21 12:53] mostaphaRoudsari commented on #36
@sariths knows better but it's probably because of `samplingRayCounts` aka `-c` which [I set to 3 in the recipe](https://github.com/ladybug-analysis-tools/honeybee/blob/master/honeybee/radiance/recipe/dc/imagebased.py#L190) for the sake of time. We need to create a component for this and let you change the value from Grasshopper.

[2017-01-21 13:00] DambronOlivier opened #37 "HOYS with minutes"
hi @mostaphaRoudsari ,

I was trying to add more granularity of timestep to generate more images with DC_image-based.

If I am not mistaken, it seems that the HOYS  are not taking into account the decimals for a given list of hours. Perhaps it is the way the WEA rounds hours. Would it be causing issues elsewhere to get minutes into the WEA?
![capture](https://cloud.githubusercontent.com/assets/211

[2017-01-21 15:39] mostaphaRoudsari commented on #37
Hi @DambronOlivier, I can't thank you enough for checking all these inputs before the release. Let me check and see how genskymtx will work with sub-hourly data.
Currently the wea data is only generated for each hour and doesn't support sub-hourly data. Even if gendaymtx works fine we need to find a solution to extrapolate sub-hourly radiation values to get this to work correctly.

[2017-01-21 17:21] sariths commented on #37
@DambronOlivier. First up, I too want to thank you for trying out these components before the release. Although, I haven't been participating in any of the discussions, I have been reading all of them.

@mostaphaRoudsari As you pointed out, the issue with doing sub-hourly values has more to do with radiation values than whether gendaymtx can handle it. Gendaymtx will work fine if we modify the wea

[2017-01-21 22:01] sariths commented on #36
@mostaphaRoudsari is right. This is due to sampling. The graininess is mostly due to sampling. Here is an example of the effect that sampling has on results (the effect is more noticeable in falsecolor images). The white labels with black lettering on the upper-left side of each image correspond to the -c setting. For example, C01 corresponds to -c 1 while C11 corresponds to -c 11.

![sampling](ht

[2017-01-24 22:40] sariths commented on #37
Hi @DambronOlivier  and @mostaphaRoudsari , I can confirm that smaller timesteps will work with whatever we have presently. Here is an example: https://www.youtube.com/watch?v=2rXrWhIf-4o&feature=youtu.be

The timesteps in the video are at 1 minute intervals. I generated the data from Daysim which has the interpolation algorithm built-in. We'd have to replicate the same algorithm in HB[+] to make

[2017-01-24 23:24] mostaphaRoudsari commented on #37
Thank you @sariths! Here is the code that we need to add in order to create the subhourly wea file.
https://github.com/MITSustainableDesignLab/Daysim/blob/combined/src/daysim/ds_shortterm.c

[2017-01-25 10:35] schaggar16 commented on #32
hi @mostaphaRoudsari , i have updated the dynamo file to include the the creation of the border. however, i am still getting a toRADString Error within the Run Radiance Simulation. Have attached the files.
I am looking to run the simulation on models where the rooms/spaces havent been created yet, hence the focus on getting the HBSurface method working.
[HB toRADString Error.zip](https://github.co

[2017-01-25 16:35] mostaphaRoudsari commented on #32
Hi @schaggar16! I'll have a new version of honeybee in a week or two which is using a modified and stable library. Can you wait a little bit and test the newer version? I can also check your current file if it's critical.

[2017-01-25 22:55] DambronOlivier commented on #36
Hi @sariths,

I have been running various tests with similar C values of  [vwrParaSamp.samplingRaysCount](https://github.com/ladybug-analysis-tools/honeybee/blob/master/honeybee/radiance/recipe/dc/imagebased.py#L190) and [rflux.samplingRaysCount](https://github.com/ladybug-analysis-tools/honeybee/blob/master/honeybee/radiance/recipe/dc/imagebased.py#L222)

In this case with -c 5:
![inside_ne_06_21

[2017-01-25 23:56] sariths commented on #36
Hi @DambronOlivier , there are a couple of other parameters that work in tandem with it..one of them being the limit weight.
Can you please share your gh file with the settings that you are running currently?

[2017-01-26 00:16] DambronOlivier commented on #36
@sariths ,
I was using the example file [04_daylight_coefficient_daylight_analysis_Image](https://github.com/ladybug-analysis-tools/honeybee-plus/blob/master/plugin/grasshopper/sampleFiles/04_daylight_coefficient_daylight_analysis_Image.gh)

and modifying my local [imagebased.py](https://github.com/ladybug-analysis-tools/honeybee/blob/master/honeybee/radiance/recipe/dc/imagebased.py)

[2017-01-26 03:43] sariths commented on #36
@DambronOlivier , the culprit in this case was the lw (limit weight) parameter....

This is -c 3 -lw 0.001
![selection_114](https://cloud.githubusercontent.com/assets/10361848/22319238/ea745d92-e34e-11e6-8c25-920ceed73264.jpg)

-c 3 -lw 1e-5
![selection_115](https://cloud.githubusercontent.com/assets/10361848/22319261/119a3a5e-e34f-11e6-9573-8610ef735172.jpg)

-c 9 -lw 0.001
![selection_116](https

[2017-01-26 09:39] schaggar16 commented on #32
Thanks for getting back to me @mostaphaRoudsari, look forward to working with the new version. It is a bit time critical that i can get this dynamo graph to work - would be great if you could have a look at it when you get the chance. Much appreciated.

[2017-01-26 13:21] mostaphaRoudsari commented on #32
@schaggar16 just pushed the new version (0.0.9) to the package manager that addresses both of these issues. Install the new version. Restart dynamo and your file should work fine.

[2017-01-26 13:21] #32 closed

[2017-01-26 16:23] schaggar16 commented on #32
@mostaphaRoudsari Worked a charm - thanks. I assume there is still to be another version to be released in 1-2 weeks?

[2017-01-26 18:10] mostaphaRoudsari commented on #32
@schaggar16 yes. The new version supports annual analysis and more!

[2017-01-31 00:36] mostaphaRoudsari opened #38 "Update DynamoBIM nodes"

[2017-01-31 15:26] DambronOlivier commented on #36
Thank you very much @sariths .
These tutorials are very useful.

[2017-02-23 13:26] teabaker opened #39 "Honeybee component reports: 'Honeybee is not installed!'"
Hello!

I'm getting started with Dynamo and I'm trying to write a daylight script using Honeybee. I didn't get very far before I experienced an error that I can't seem to get past. I've included the error message below, along with a screenshot giving examples of the errors in Dynamo.

I've tried reinstalling Dynamo and Honeybee. I've also made sure that Honeybee is installed in the same folder as

[2017-02-24 09:40] teabaker commented on #39
Solved the problem by installing Honeybee in the default location, suggested by Dynamo. Still unclear as to why the error was occurring...

[2017-02-24 09:40] #39 closed

[2017-03-05 01:02] TheodoreGalanos opened #40 "GPU accelerated Radiance studies"
Hello everyone,

I had this idea through the Machine Learning I'm doing recently. It seems that 3-phase radiance is basically a series of matrix multiplications. This is exactly what has brought gaming CPUs to every AI researcher's computer.

I was wondering if we could look into making it possible through HB+. I've only looked slightly on the web and found this: https://buildings.lbl.gov/sites/al

[2017-03-05 06:03] sariths commented on #40
Hi @TheodoreGalanos , have you tried [Accelerad](http://web.mit.edu/sustainabledesignlab/projects/Accelerad/)? On the Three Phase front, this [example file](https://github.com/ladybug-tools/honeybee-plus/blob/master/plugin/grasshopper/sampleFiles/05_three_phase_daylight_analysis.gh) that we used at the NYC hackathon has matrices as separate entities.

After running 100's of phase-based calculation

[2017-03-05 07:00] TheodoreGalanos commented on #40
Hi @sariths Thank you for your response, I can now understand a bit more.

It's sad to hear it's only 5% of the simulation run time, it seemed while reading the method that it might have been more important. Is this also in the case when we want to create animations over the whole year? I have to admit I'm not that familiar to the method, apart from reading the tutorials about it.

However, it see

[2017-03-05 08:11] sariths commented on #40
Hi @TheodoreGalanos ,
This..

..is one instance where speeding up matrix multiplications will indeed be beneficial. Dctimestep, the tool used that paper is an optimized matrix multiplication tool (other matrix tools being rcollate and rmtxop). Especially in the case of imaging it is likely to be more useful than illuminance (which is what my previous comment was based on).

I don't see 3 Phase ani

[2017-03-05 08:17] sariths commented on #40
By the way, here are the results from a Three Phase simulation that I just ran to test how long different parts of the calculation took. The timestamps are in **bold**

**Start time : 02:12:04**
**Time for octree : 02:12:04**
`rfluxmtx: running: rcontrib -fo+ -ab 4 -ad 50000 -lw 2e-5 -n 8 -I+ -y 100 -faa -c 1 -f klems_full.cal -p RHS=+1 -bn Nkbins -b 'kbin(0,1,0,0,0,1)' -m Glazing '!oconv -f -i ro

[2017-03-05 09:33] TheodoreGalanos commented on #40
@sariths I believe that is exactly what I meant! As I said I've yet to delve into this, so what got my attention was what Mostapha briefly mentioned in his presentation during the AEC hackathon. I believe when he mentioned that we now can calculate the same scene for different times he probably meant the daylight coefficient method you are referring to.

What I had in mind is creating a workflow t

[2017-03-05 11:21] sariths commented on #40
@TheodoreGalanos ,

.

I agree, here is a demo with Three Phase .. https://www.youtube.com/watch?v=2rXrWhIf-4o  ..not recipe-fied in Honeybee yet, but all the backend functionality is already there.

[2017-03-05 12:59] TheodoreGalanos commented on #40
@sariths Yes that is exactly what I am looking for! Does it make any sense for me to ask you for the radiance code for this? Or is it just easier to wait for a HB+ definition to do it in there?

I'm already drifting into cool statistical analysis we can do with such granularity. With the right intervals maybe we can train some regression algorithms to fill out the gap, in any case it would be real

[2017-03-05 23:59] sariths commented on #40
Hi @TheodoreGalanos , that video is 60 % Radiance + 30 % Python + 10 % Unix ... which will sometime in future be (hopefully) 99 % HB.

Here is roughly what is I did:
1. Took a normal EPW file for NYC and then filled in values for Direct-Normal and Diffuse-Horizontal radiations for minute-based timesteps (to add granularity) through a combination of regression and interpolation.
2. Created a custom

[2017-03-06 02:56] TheodoreGalanos commented on #40
Hi @sariths

Thanks for sharing this. This sounds really exciting I think. I think in the very near future we can integrate this workflow to all real cases.

I think I can take a look on different options for the first step. It sounds as if something that Machine Learning can help with. Perhaps if we train an LSTM on the time series data, we can use the predicted curve to fill in the 1-min interva

[2017-03-07 10:43] teabaker opened #41 "Fix the tooltip for generate points by grid size node"
Hi!
I have been using the Ladybug Generate Test Points node to perform a daylight factor analysis. It works fine, but as soon as I switch to the Honeybee Generate Test Points by Grid Size node and run the script, Dynamo stops responding. I am using exactly the same inputs and outputs and have merely generated polygons from the test surfaces for the _borders input.
Any ideas? I would like to use th

[2017-03-07 14:54] MadsPJ opened #42 "Honeybee can't find the installation folder for custom installation folder structure"
Hello,

I have a problem getting Honeybee and Ladybug to run. I installed both packages through the package manager. I looked through old videos and it seems like previously you had to first install the package and then install it inside Dynamo. In this version everything seems to be installed after the package, but it I keep getting the error:  "'Honeybee is not installed! Install it from package

[2017-03-07 15:21] mostaphaRoudsari commented on #42
@MadsPJ Your assumptions are right. what is the error message?

[2017-03-07 15:24] mostaphaRoudsari commented on #41
@teabaker I guess 100 is a very small gridsize based on the units of your document. Use a larger value for grid size and it should work fine.

[2017-03-07 15:49] MadsPJ commented on #42
Hello Mostapha,

I get the following error:

"List:
0 null
ERROR:
Honeybee is not installed! Install it from package manager

If you thinks this is a bug submist an issue on github (...) and include below error message:
1 Traceback (most recent call last):
File "<string>", line 49, in <module>
ImportError: Honeybee is not installed! Install it from package manager."

[2017-03-07 16:07] mostaphaRoudsari commented on #42
Thanks. I will check and get back to you later today. I haven't made any changes to the installation. It's strange that you get an error like this.

[2017-03-08 13:13] teabaker commented on #41
Ah I see!

I think I was confused as gridSize and numOfSegments both show the same text when you hover over them, so I assumed the input was the same.

I increased the gridSize input to 1000 and it worked fine, thanks!

![11](https://cloud.githubusercontent.com/assets/25978191/23705202/0c99cae4-0409-11e7-93b6-b27b736b9ef3.png)
![12](https://cloud.githubusercontent.com/assets/25978191/23705208/11b4

[2017-03-08 13:19] mostaphaRoudsari commented on #41
@teabaker Thanks for reporting this. Will get it fixed for the next release.

[2017-03-09 08:49] MadsPJ commented on #42
Im using Dynamo version 1.2.1.3083. I dont know if that has any influence.

I have reinstalled the packeges but i still get the same error.

[2017-03-09 13:47] teabaker commented on #42
I experience the same problem, also with Ladybug components. For me it is an intermittant problem that I can only solve by restarting both Revit and Dynamo.

[2017-03-09 13:52] teabaker opened #43 "Hi!"

[2017-03-09 13:54] mostaphaRoudsari commented on #42
I will check this today and report back. I couldn't reproduce the error.

[2017-03-09 13:54] #43 closed

[2017-03-09 14:17] teabaker opened #44 "Simulation Quality - What parameters does this set?"
Hi!

Sorry for the previous erroneous post 'Hi!'

My question is regarding the 'quality' input to the radiance parameters. What parameters does this set and will there be more manual inputs (such as ambient bounces) in a new release, or is there a way to specify at the moment?

Thanks!

![11](https://cloud.githubusercontent.com/assets/25978191/23753903/6d6237bc-04db-11e7-81f1-c09784c3df48.png)

[2017-03-09 15:49] teabaker opened #45 "Issue with 'Radiance Glass Material by Single Value' node"
Hi!

I am having problems with the 'Radiance Glass Material by Single Value' node in my daylight script. It appears that no light is being transmitted through the glass surfaces. I am using a simple model with 3 identical windows.

If I define the Radiance Material by the Surface Type (5.0: Window), it works fine - see below for comparison of results.

Is this an error, or am I doing something wro

[2017-03-10 08:27] schaggar16 commented on #42
i had the same issue but did find a workaround. by creating the following folder structure and placing a copy of the DynamoSettings.xml here. Has done the trick so far.
C:\Users\User\AppData\Roaming\Dynamo 1.2\Dynamo Revit\1.2

[2017-03-10 09:04] MadsPJ commented on #42
Thanks for the input.

However Dynamosettings.xml was placed in that folder by default on my computer and it allways occours even after reinstalling and after Revit and Dynamo is opened and closed.

[2017-03-10 09:46] schaggar16 commented on #42
That is very interesting. By default my dynamo installation creates:
C:\Users\User\AppData\Roaming\Dynamo\Dynamo Revit\1.2 which contains the 'Live' DynamoSettings.xml and then i have my 'copied' version sitting here:
C:\Users\User\AppData\Roaming\Dynamo 1.2\Dynamo Revit\1.2

[2017-03-10 13:19] MadsPJ commented on #42
No you are right! As a default I have it the same place as you. My bad.

I didnt have the Dynamo 1.2\Dynamo Revit\1.2 folders and created those, but i still get the same error.

My Dynamo is not installed under the default user but my usename. I tried to create new folders to make a similar filepath but it didn't work.

[2017-03-10 13:33] mostaphaRoudsari commented on #42
That should not happen. Honeybee looks for the xml file under `c:\Users\%USERNAME%\AppData\Roaming\Dynamo\Dynamo Revit\1.2`. Let's see if we can figure out why is it happening. Can you open one of the dyf files and copy the first two nodes in a definition and see what is the error message?

![image](https://cloud.githubusercontent.com/assets/2915573/23797095/2f435efc-056c-11e7-9678-3e1627646b0a.pn

[2017-03-10 13:43] mostaphaRoudsari commented on #44
@teabaker [here](https://github.com/ladybug-tools/honeybee/blob/master/honeybee/radiance/parameters/_defaultset.py#L3-L18) is the list of all the parameters that are set based on quality input. There are 3 values for each parameter for low/medium/high quality.

You can change any of them or add new ones by using a Python component until we add an input to the node.
![image](https://cloud.githubuse

[2017-03-10 13:43] #44 closed

[2017-03-10 13:52] teabaker commented on #44
Thank you!

[2017-03-10 14:07] MadsPJ commented on #42
I get the same error message:

![error](https://cloud.githubusercontent.com/assets/26253323/23798080/2a525312-05a3-11e7-802e-0ce32845e5bc.JPG)

[2017-03-10 14:11] mostaphaRoudsari commented on #45
@teabaker thanks for reporting this. This is a bug but it is fixed in the new library. For now we can use a little bit of python to assign the new materials outside the node.

![image](https://cloud.githubusercontent.com/assets/2915573/23798167/4b006284-0571-11e7-9db5-b61cabe7a8c0.png)

Sorry for making you to use Python for stuff like this that should work by default. Again since we will have a n

[2017-03-10 14:26] teabaker commented on #45
Totally understandable. Thanks for taking the time to provide a temporary solution!

[2017-03-10 14:28] mostaphaRoudsari commented on #42
Thanks! Can you try this file? [check installation folders.zip](https://github.com/ladybug-tools/honeybee-plus/files/834172/check.installation.folders.zip)

![image](https://cloud.githubusercontent.com/assets/2915573/23798624/7cbc15a0-0573-11e7-9382-0bd3b485953a.png)

This should give a list for paths that honeybee is looking to find the XML file and then the path for packages. Let's check if it l

[2017-03-10 14:57] MadsPJ commented on #42
Yes off course. Thank for the help:

![error2](https://cloud.githubusercontent.com/assets/26253323/23799821/36eb57a2-05aa-11e7-89aa-900a9c2bb65d.JPG)

[2017-03-10 15:05] mostaphaRoudsari commented on #42
Hmm... There are several package folders in your case. Now let's see why it can't find honeybee. The code looks under each of the folders to find `[folder]\packages\honeybee\extra`.

What is the full path to your Honeybee installation folder? Is that follow the same structure?

[2017-03-10 15:28] MadsPJ commented on #42
apparently my ful path was:
C:\Users\mpj\Documents\SJ nodes\Honeybee
Which was my default save location.

I then manually copied  Honeybee into the following folder:
C:\Users\mpj\AppData\Roaming\Dynamo\Dynamo Revit\1.2\packages\Honeybee

And then its working! Great! thanks Mosapha! Now I have a new toy to play with in the weekend

[2017-03-10 15:30] mostaphaRoudsari commented on #42
Perfect! Happy that it's finally solved.
I keep this issue open to make the searching function for flexible for cases such as yours.

[2017-04-02 21:23] Mahamiho opened #46 "Error message from Honeybee:"
Hey,
I am getting this error message from honeybee 'run radiance component' , any ideas on how to fix it? thanks :)
![error](https://cloud.githubusercontent.com/assets/26859104/24591175/63ae1550-17fb-11e7-9da3-17b70bb7fab7.PNG)

[2017-04-02 21:25] mostaphaRoudsari commented on #46
Hi @Mahamiho, You need to install Radiance in `c:\radiance` and add it to system PATH.

[2017-04-02 22:24] Mahamiho commented on #46
Hey,
Thanks for the quick reply. I already have radiance on C:\ but can you tell me how to add it to system PATH?

[2017-04-02 22:29] mostaphaRoudsari commented on #46
http://windowsitpro.com/systems-management/how-can-i-add-new-folder-my-system-path

[2017-04-04 20:40] Mahamiho commented on #46
Hey mostapha,
thanks alot for your reply, the problem is still not solved, i figured that my antivirus is blocking honeybee from reading radiance (somehow), i never experienced this problem before, but will try to fix it and come back with questions if it is not solved.

[2017-04-04 20:57] Mahamiho opened #47 "Changing double glass to single in dynamo"
Hey,
is there an easy way to convert the double glass from revit to a single pane glass to be able to run accurate daylight simulations in honeybee? thanks alot,

[2017-04-04 21:05] mostaphaRoudsari commented on #46
Hi @Mahamiho, Thank you for the update. Should we close this issue?

[2017-04-04 23:02] mostaphaRoudsari commented on #47
You can sort the surfaces by area and pick the one with the largest area.

Also the `Room To Zone` node does simplify the geometry to get a single pane glass.

[2017-04-10 10:14] jurrijn commented on #11
I would like to make a  direct sunlight hours calculation based on radiance. I was wondering if there is a working sample file available. Thanks in advance.

[2017-04-10 12:37] mostaphaRoudsari commented on #11
Try [this file.](https://github.com/ladybug-tools/honeybee-plus/blob/master/plugin/grasshopper/sampleFiles/00_sunlighthours.gh?raw=true). You need to [install Honeybee[+]](https://github.com/ladybug-tools/honeybee-plus/blob/master/plugin/grasshopper/sampleFiles/00_installer.gh?raw=true) to be able to try this file.

[2017-04-12 06:38] martinromby opened #48 "Run Radiance Simulation node in Dynamo 1.3 returns empty list"
After following the different tutorials and installing Radiance in C:\Radiance etc. I've ended up with that Run Radiance Simulation node is returning an empty list.
![image](https://cloud.githubusercontent.com/assets/15892140/24944360/1a132630-1f5b-11e7-93b9-8fdb1bcd368a.png)
Any ideas of why this is happening?

/Martin

[2017-04-12 07:04] martinromby commented on #48
Reboot fixed the problem.

[2017-04-12 07:04] #48 closed

[2017-04-18 10:54] Retrocascade opened #49 "HOY Error Message"
Hello,

I appear to come accross an error when using the Sunpath node, previously it has worked without issue but not it is no longer accepting my HOY input. I got the following Error Message:

ERROR:
	minute must be in 0..59 > (4/18@11:60)(m/d@h:m)

If you think this is a bug submit an issue on github.
https://github.com/ladybug-analysis-tools/honeybee-plus/issues

and include below error message

[2017-04-18 13:49] mostaphaRoudsari commented on #49
Hi @Retrocascade, Based on the error message  the node ends up with the time (4/18@11:60) which should be (4/18@12:00). Can you share a screen shot so I can see how I can recreate the error. Thanks.

[2017-04-18 14:05] Retrocascade commented on #49
![picture1](https://cloud.githubusercontent.com/assets/27726921/25134701/2bb6d606-2448-11e7-940a-1c57b07ff992.png)

Hello  @mostaphaRoudsari, I hope this gives you enough. As you can see in the image, I'm not actually inputting any minutes values which is confusing.

[2017-04-26 09:30] MadsPJ opened #50 "Several surfaces result in "index out of range""
Hello,

I have used faces as an input for honeybee surfaces. Whenever I just have one surface as an input everything works, but if I input a list of surfaces I get an "index out of range" error.

The input for the Honeybee surface should be "A single surface or a list of surfaces" so I do not understand what I am doing wrong.

If i remove the flatten node then i get an error saying:
"Failed to ext

[2017-05-02 13:11] Mahamiho commented on #47
Great that worked, thanks alot

[2017-05-02 13:12] Mahamiho commented on #46
Yes, thanks alot for your help

[2017-05-03 13:18] #46 closed

[2017-05-03 13:18] #47 closed

[2017-05-03 13:20] mostaphaRoudsari commented on #50
@MadsPJ I can't recreate this error. Can you share a simple example file? Thanks.

[2017-05-06 18:46] Mahamiho opened #51 "Honeybee in Dynamo versus Grasshopper"
Hey,
I developed a script in dynamo to test Honeybee, and I compared the results of the same model in Revit and simulation using Dynamo, to a model in rhino and simulation in grasshopper. However the results were much higher in Honeybee in Dynamo. I already have the same materials assigned and the same ambient bounces, and single glass pane in each window, and same legend threshold. Are there othe

[2017-05-07 17:52] mostaphaRoudsari commented on #51
@Mahamiho can you share your example files? I created a test case and the results are pretty similar.

[2017-05-07 18:07] Mahamiho commented on #51
Hey Mostapha,
Thanks for your reply, I am preparing a 'clean script' that I can share because I was developing many things. In the meantime can you share the test script in a format compatible with version 1.2.1 in Dynamo because I could not open it. Thanks in advance,

[2017-05-07 18:22] mostaphaRoudsari commented on #51
Hi @Mahamiho. Which test script are you referring to?

[2017-05-07 23:18] Mahamiho commented on #51
Hey,
I tried to open the dynamo files in this link, is it possible to open them in dynamo version 1.2.1?
https://github.com/ladybug-tools/honeybee-plus/tree/master/test

[2017-05-07 23:20] mostaphaRoudsari commented on #51
Try the files [here](https://github.com/ladybug-tools/honeybee-plus/tree/master/plugin/dynamo/samplefiles) which also comes with the installation.

[2017-05-14 19:52] MadsPJ commented on #50
Hello mostaphaRoudsari,

Will this be enough to see whats wrong?

[DF error.zip](https://github.com/ladybug-tools/honeybee-plus/files/999678/DF.error.zip)

Is the selection of faces a bad method for defining which surfaces to import?

[2017-05-15 13:15] SamDehghani opened #52 "Can't find None\oconv.exe"
When running the sample "00_sunlighthours.dyn" I got this error message : "Can't find None\oconv.exe. use radbinPath method to set the path to radiance binaries before executing the command ...".
Thanks in advance

[2017-05-15 13:38] mostaphaRoudsari commented on #52
Hi @SamDehghani, Check this [issue](https://github.com/ladybug-tools/honeybee-plus/issues/46#issuecomment-291016370).

[2017-05-15 13:38] #52 closed

[2017-05-15 14:51] SamDehghani commented on #52
Thanks for the quick reply.

[2017-05-16 16:19] schaggar16 commented on #42
@mostaphaRoudsari one of my colleagues was having this issue - i ran the code snippet you had above to check the folder path for packages but it didnt show anything. Just showed the location of the .XML files but nothing uner package folders. Any ideas?

[2017-05-17 15:29] mostaphaRoudsari commented on #50
@MadsPJ thanks for sharing the file. I will check soon and get back to you! Selection faces should be as good as any other methods.

[2017-05-22 11:28] Mahamiho commented on #51
Hey Mostapha,
Thanks again for the help, I checked the files and updated my scripts. The result is the same in Dynamo and in Grasshopper, and I am uploading the result so that other people can view it too. I noticed however that these results was the same when I had a single glass layer in Honeybee, and normal double glass window in Dynamo, when I tested with a single surface in Dynamo the results

[2017-05-23 07:39] Mahamiho opened #53 "Saving the Honeybee results in Revit"
Hey,
I followed the previous discussions (below) on how to save the analysis grid results from Honeybee in Dynamo in Revit, but still could not manage to make it work. I was trying to generate the surfaces in Revit using 'import instance' instead of selecting the surfaces, and used the points from the 'Generate test points by grid size' node, does someone has an updated script to do it, or do you

[2017-05-23 18:46] SamDehghani commented on #53
Hi Mahamiho,
I have devised a workflow to display Honeybee results directly in Revit. I've made a 5 minute tutorial and asked Mostapha Roodsari to kindly revise it. I'll keep you informed when the clip is ready to be published.

[2017-05-24 08:26] Mahamiho commented on #53
Hey Sam,
Thanks alot for your reply, in the meantime can you share the script that you did, or a screen shot of it? I am working on a project and I really need a work around it.

[2017-05-25 00:50] arqpml opened #54 "Epw files for Brazil cities generate errors when trying to create sky matrix"
Whenever I try to use an epw from Brazil (same results for Rio de Janeiro, Salvador and Sao Paulo) it generates an error and does not complete the sky matrix (this happens in grasshopper and also in Dynamo):
Below is the error message in dynamo (tried with Paris, works fine):
Also, I've attached the epw file from salvador.
Traceback (most recent call last):
  File "<string>", line 18, in <module>

[2017-05-25 04:36] SamDehghani commented on #53
Hi Mahamiho,
The video link is : https://youtu.be/sF1wT3VCkI0
Have fun.

[2017-05-27 14:58] mostaphaRoudsari commented on #53
@Mahamiho, did @SamDehghani's approach solved your problem?

[2017-05-27 15:02] mostaphaRoudsari commented on #51
Hi @Mahamiho, Single case glazing in both case should give you similar results. At the same time the current radiance parameters are set pretty low and that might have been the reason of the results discrepancy. I leave this discussion open for now until we expose the parameters and we can check both of them against each other with higher accuracy.

[2017-05-27 15:34] mostaphaRoudsari commented on #50
@MadsPJ Thank you for the file. I can recreate the error. I'll report back shortly.

[2017-05-27 15:57] mostaphaRoudsari commented on #50
@MadsPJ the error was happening because of a single name and multiple surfaces. I was catching the wrong exception in the code. A temporary solution is to disconnect the name input. I will push a fix soon.

[2017-05-27 19:22] mostaphaRoudsari commented on #49
@Retrocascade sorry for the late reply. I can't recreate the error by trying the same hours. Feel free to re-open this issue and share an example to recreate it. Thanks.

![image](https://cloud.githubusercontent.com/assets/2915573/26523884/3ea70986-42f0-11e7-86f4-e947e843eee3.png)

[2017-05-27 19:22] #49 closed

[2017-05-27 19:47] mostaphaRoudsari commented on #54
Hi @arqpml, Thanks for reporting this. This is most probably because of the special character in location name. Let me see if there is an easy solution for this and report back.

![image](https://cloud.githubusercontent.com/assets/2915573/26523959/12747c6a-42f3-11e7-85eb-8eb0c0921f23.png)

[2017-05-27 19:52] Mahamiho commented on #51
Hey @mostaphaRoudsari,okey this is intersting to know, I think I will go through the script again and try to run it with different ambient bounces and see how much it will influence. Will post the updates this week or next week.

[2017-05-27 20:22] Mahamiho commented on #53
Hey @SamDehghani  and @mostaphaRoudsari thanks for your replies, I will check it out and let you know if I have problems

[2017-05-27 20:26] Mahamiho commented on #48
Hey @mostaphaRoudsari I have the same problem now on a computer, the same file seems to work fine on another computer, any ideas why this could be happening? I tried to disable the antivirus and it did not help, and honeybee in grasshopper is working fine. The problem as I see it is that the simulation does not start running. Thanks alot

[2017-05-27 20:33] mostaphaRoudsari commented on #54
Fixed! I will push a new version of Ladybug to package manager soon which should address this issue.
![image](https://cloud.githubusercontent.com/assets/2915573/26524214/d608c0a4-42f9-11e7-8ff2-025823f46e64.png)

[2017-05-27 20:33] #54 closed

[2017-05-27 20:36] sariths commented on #51
@Mahamiho Can you share the rad files for both the projects?

[2017-05-27 20:44] mostaphaRoudsari commented on #48
@Mahamiho, Can you share the radiance folder? I just ran the analysis with now issues on version 1.3. No error message?

[2017-05-27 21:20] mostaphaRoudsari commented on #45
This is fixed in the new version as it's taking us so long to release the new plugin.

![image](https://cloud.githubusercontent.com/assets/2915573/26524409/a3f9b4e6-42ff-11e7-8636-d2427beb6097.png)

[2017-05-27 21:20] #45 closed

[2017-05-27 21:20] mostaphaRoudsari commented on #50
This is fixed in the new release version 1.1

[2017-05-27 21:20] #50 closed

[2017-05-27 21:23] mostaphaRoudsari commented on #41
Fixed in 1.1

[2017-05-27 21:23] #41 closed

[2017-05-27 21:26] mostaphaRoudsari commented on #42
@schaggar16 is Honeybee installed under one of the folders inside `packages` folder?

[2017-05-27 22:09] schaggar16 commented on #42
@mostaphaRoudsari - we found the issue was that the location of the .xml returned by your script was different to where it actually was. Your code is fine, its the installation of dynamo which is the source of the problem for us. A temp work around is to create the location of the xml. based on your code snippet but will be investigating further into the dynamo installation method.
Thanks for your

[2017-05-28 09:29] Mahamiho opened #55 "Honeybee in Dynamo is not running"
Hey @mostaphaRoudsari
I am experiencing some problems in running Honeybee in Dynamo on my computer despite that the same file runs on another computer. I dont get any errors I just get an empty list, and honeybee in grasshopper is working fine. I had an issue with the firewall on my computer, but I dont think it is the case since it is working properly in Grasshopper now. The dynamo version is 1.3

[2017-05-28 10:01] Mahamiho commented on #51
Hey @sariths I am attaching the folders for the results from Grasshopper (using single glazing) and from Dynamo (using double glazing) so the ones used to generate the images above. thanks alot for the help in advance,
[170512_MSH_grasshopper.zip](https://github.com/ladybug-tools/honeybee-plus/files/1034088/170512_MSH_grasshopper.zip)

[2017-05-28 20:34] mostaphaRoudsari commented on #55
Hi @Mahamiho, It runs fine on my machine but I can see the error message inside the folder (Thanks for sharing the folder BTW).

Since everything looks fine in the folder I assume the error happens because `gensky` command doesn't run successfully and that's because radiance is not added to system path. Add radiance\bin to system path and try again and I assume it will run fine. Feel free to re-op

[2017-05-28 20:34] #55 closed

[2017-05-28 20:37] mostaphaRoudsari commented on #42
Hi @schaggar16, Thanks for the update. I would open an issue for this on Dynamo's repository. The sooner they get it fixed the better.

[2017-05-28 22:07] sariths commented on #51
@Mahamiho I was hoping that the models were for the same room so that I could sun analytics on them to compare if the models themselves had anything to do with the difference in results.

[2017-05-29 06:53] MadsPJ commented on #50
Super. Thank you very much.

[2017-05-30 20:39] Mahamiho commented on #51
Hey @sariths I am attaching the folders when using single glass in both models, the result in dynamo when using single glass is below. Thanks alot.
[Comparing dynamo and honeybee.zip](https://github.com/ladybug-tools/honeybee-plus/files/1039639/Comparing.dynamo.and.honeybee.zip)
![170515_result from dynamo_all single glass](https://cloud.githubusercontent.com/assets/26859104/26603908/cf7610f2-4588

[2017-05-30 22:36] mostaphaRoudsari commented on #53
[here](http://hydrashare.github.io/hydra/viewer?owner=SamDehghani&fork=hydra&id=Bake_Honeybee_Daylight_Results_from_Dynamo_to_Revit&slide=0&scale=1&offset=0,0) is the example file. Thanks @SamDehghani.

[2017-05-31 04:15] bwelle commented on #13
Any update on honeybee-plus development? Anton, please review current status and let's discuss readiness for Web-GUI integration

[2017-05-31 14:47] teabaker opened #56 "Problem with Honeybee Surfaces: 'Index out of range: 1'"
Hi,

I've just updated Honeybee to version 1.1 and I'm receiving the following error report from Honeybee Surface nodes:

![error](https://cloud.githubusercontent.com/assets/25978191/26637356/90ce9fe4-461f-11e7-89d2-a818fbbccc93.png)

My inputs to the node are a list of surfaces and a Radiance Material specified using some Python code (provided through GitHub on a previous issue), see below:

![er

[2017-05-31 18:59] schaggar16 commented on #53
having a look at this script, is there a way we can get more control over the color settings - for example defining explicit values between the min and max?

[2017-06-04 04:46] sariths commented on #51
Hi @Mahamiho, I finally got around to analyzing your two models. The scene dimensions, as translated into Radiance by Grasshopper and Dynamo are not all that different.

~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*Grasshopper~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*
[code]

~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*Dynamo~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*
[code]
However, due to the differen

[2017-06-05 20:55] schaggar16 commented on #56
had a similar issue. by setting a type and name it seems to run fine

[2017-06-05 23:09] Mahamiho commented on #51
Hey @sariths,
Thanks alot for your help in doing this analysis. I have a couple of questions though,
- Do you perform this analysis in Radiance directly? which files do you use for the analysis is it only the rad file? Is there a document or tutorial that I can follow to be able to do it myself in the future?
- The main thing I noticed was that the primitives in dynamo are not full. I am sending y

[2017-06-06 01:13] sariths commented on #51
Hi @Mahamiho,

I a Radiance program called [objview](http://radsite.lbl.gov/radiance/man_html/objview.1.html) for viewing the files in 3D. The dimensions of the scene were calculated using [getbbox](http://radsite.lbl.gov/radiance/man_html/getbbox.1.html) (another Radiance program). The details of the scene (in terms of materials, surfaces etc) were listed using a couple of custom Python programs

[2017-06-07 12:04] Mahamiho commented on #53
Hey @SamDehghani I have not managed to make the script to work, neither the legend nor the markers are shown in the 3D in Revit, I am not sure whats the problem as I am not getting any errors, Do you have ideas? Also where do you get the display style name that is loaded in the marker and text display style? because I think that can be a factor in the problem. Thanks alot,
![saving results in revi

[2017-06-07 17:25] mostaphaRoudsari commented on #56
It's fixed now. Also added a node for opaque material. Thanks for reporting.

![image](https://user-images.githubusercontent.com/2915573/26891741-0f18887e-4b84-11e7-9dfc-fab037bc5c4a.png)

[2017-06-07 17:25] #56 closed

[2017-06-08 18:46] SamDehghani commented on #53
Hi @Mahamiho , it seems to me that "Legend Setting" is not working properly. please attach (true or false) to "Show Data description". I hope it solves the problem.

[2017-06-08 19:42] SamDehghani opened #57 "Showing Honeybee Results As Colores Surface in Revit"
Hi There,
Trying to show Honeybee results in Revit as colored surface seems to be pretty successful, however I encountered a strange issue. When the rooms are rectangular the output polygons of "Generate Test Points" works fine.
![test for github](https://user-images.githubusercontent.com/28707495/26947381-cae88256-4ca7-11e7-9cc0-75395e58533a.PNG)
When the room are somehow more complicated the pol

[2017-06-08 19:54] mostaphaRoudsari commented on #57
Hi @SamDehghani, You're not doing anything wrong. It's because how Honeybee creates the test surfaces. Since Dynamo doesn't have a good meshing library to help with edge cases I create a grid of squares and then check and remove the squares that any of the points are outside the boundary. If you try a smaller grid size it should cover your case here but the eventual solution is to write a more sop

[2017-06-08 20:32] SamDehghani commented on #57
Hi @mostaphaRoudsari ,
Thank you very much.

[2017-06-29 13:33] mostaphaRoudsari commented on #53
Here is [both methods](http://hydrashare.github.io/hydra/?keywords=samDehghani). Thanks @SamDehghani!

[2017-06-29 13:33] #53 closed

[2017-06-29 13:33] mostaphaRoudsari commented on #57
We can close this for now. Here is the [example files](http://hydrashare.github.io/hydra/?keywords=samDehghani).

[2017-06-29 13:33] #57 closed

[2017-06-29 13:38] mostaphaRoudsari opened #58 "Add fromGeometries classmethod in Dynamo"
We need a method like this for geometries that should be represented under a single HBSurface like window groups. It can be a number of them but they should be grouped together.

At the same time from Geometry should be able to return a list of HBSurfaces in case the geometry input is a Geometry with multiple faces that has different direction (a box). Currently it will be a grouped HBSurface with

[2017-06-30 02:22] mostaphaRoudsari opened #59 "Duplicate analysisGrid in all recipes"
Easy to fix as far as we don't forget about it.

[2017-06-30 02:23] mostaphaRoudsari commented on #58
This is done locally for GH. I will close it once I also take care of it in Dynamo.

[2017-06-30 03:35] TheodoreGalanos opened #60 "[Request]: Export results in a tensor format"
Hello everyone!

I was wondering if I could leave this here for future reference. I would love it if HB (and LB as well) could output the results, of all types of simulations that have a result mesh, in a kind of tensor, or rather matrix, format. At the moment, the results come out normally as a list, apart from the mesh. I think this could be done in two ways (I'm not including the numpy way sinc

[2017-06-30 06:13] martinromby opened #61 "'NoneType' object has no attribute 'Faces'"
Hi everyone,

So I am new to Honeybee and Ladybug, but use Dynamo on a weekly basis.
Some months back I gave the Honeybee and Ladybug tools for Dynamo a go, where I got them going (with som minor issues).
After seeing @SamDehghani solution on how to [Bake Honeybee Daylight Results from Dynamo to Revit](https://github.com/SamDehghani/hydra/tree/master/Bake_Honeybee_Daylight_Results_from_Dynamo_to_R

[2017-06-30 06:23] SamDehghani commented on #61
Hi Martin,
I sometimes see this message. I try to solve the problem by setting the "boolean" to "false", and re-run the script. Then set it to true
Goog luck

[2017-06-30 06:44] martinromby commented on #61
Hi @SamDehghani,
Thank you for the very fast reply :)
Unfortunatly I'm not able to solve the problem by following your suggestion - still getting the error message.
I tried to rebuild the definition from scratch and that still doesnt help.
Thanks for sharing the solution - it is a great tool (once its running properly)

/Martin

[2017-06-30 07:10] SamDehghani commented on #61
Hi @martinromby,
Have you tried to restart the Dynamo and Revit? The first part of the script belongs to Honeybee package and the problem is menstioned in the samples of the package too. The Revit API doesn't let the programmers to access the room information directly.

[2017-06-30 22:56] mostaphaRoudsari commented on #61
@martinromby see this issue: https://github.com/ladybug-tools/ladybug-dynamo/issues/28#issuecomment-305556002

[2017-07-03 06:29] martinromby commented on #61
Hi' @mostaphaRoudsari
Thanks! I wasn't sure that the two were related. Does this mean that every errors I get from the _Rooms to HBZones_ node are related to this?
And also, by using the Pick Surface method, does that mean walls and floors or are there more surfaces that needs to be included for a Daylight analysis to complete?

/Martin

[2017-07-05 00:43] mostaphaRoudsari opened #62 "Add post processing components to Honeybee tab"
5 of them are ready to be added. One more for cumulative results should be added.

![image](https://user-images.githubusercontent.com/2915573/27845087-5a09aa0e-60f9-11e7-9c35-2be6237fdc60.png)

[2017-07-05 00:48] mostaphaRoudsari commented on #61
@martinromby,
1. It means that Rooms to Zone can easily crash unless you get lucky.
2. You need to include all the geometry that affects the results of your simulation. [Here is a good video that shows what needs to be included in your model](https://www.youtube.com/watch?v=jIUmTwL02yA). In the video geometries are exported to Rhino but you can just convert them to HBSurfaces inside Dynamo and run

[2017-07-05 00:52] mostaphaRoudsari commented on #60
@TheodoreGalanos can you share a simple example *in a kind of tensor, or rather matrix, format* for a sample honeybee result? Generating data structures is usually the most straight forward part of the process and I wonder if the results of multi-phase daylight analysis is already structured as you want it to be.

[2017-07-05 03:00] mostaphaRoudsari commented on #59
Resolved via https://github.com/ladybug-tools/honeybee/commit/b892ffdfa1bb704231f1f381b75b4d98b41e4ecd

[2017-07-05 03:00] #59 closed

[2017-07-05 03:02] mostaphaRoudsari commented on #58
Fixed for grasshopper. I need to revisit `fromGeometry` classmethod for honeybee_dynamo HBSurface and HBFenSurface.

[2017-07-05 03:03] mostaphaRoudsari commented on #3
This is not related anymore as we are using AnalysisGrids for exposing the results.

[2017-07-05 03:03] #3 closed

[2017-07-07 11:12] geokis commented on #24
Same issue
Not a single model is working for me...  Even the Autodesk Sample Files is not working with the node

[2017-07-13 17:57] mostaphaRoudsari commented on #37
`gendaylit` has a `timeinterval` input which might be the solution to this problem. Will write more later.

[2017-07-16 02:06] mostaphaRoudsari commented on #62
![image](https://user-images.githubusercontent.com/2915573/28243944-b908a984-69a9-11e7-96f8-566130b179e1.png)

[2017-07-16 02:12] #62 closed

[2017-07-16 02:14] mostaphaRoudsari commented on #12
This is not related anymore as all the radiation analysis recipes are radiance-based and already capable of handling materials.

[2017-07-16 02:14] #12 closed

[2017-07-16 02:16] mostaphaRoudsari commented on #5
move to grasshopper repository
https://github.com/ladybug-tools/honeybee-grasshopper/issues/2

[2017-07-16 02:16] #5 closed

[2017-07-16 02:27] mostaphaRoudsari commented on #51
@sariths and @Mahamiho,

What is the status on this? Since we are updating all the nodes in Dynamo based on Grasshopper components everything will be the same. I go ahead and  close this issue for now.

@Mahamiho feel free to open a new issue if you have any follow up question.

[2017-07-16 02:27] #51 closed

[2017-07-16 02:32] mostaphaRoudsari commented on #4
I think for honeybee we have this mostly figured out however we/I have been lazy in writing unittests. Once the release is out I will be automating the testing process using [Travis CI](https://travis-ci.org/) or a similar service. I leave this issue open for now until we set it up.

[2017-07-20 21:22] mostaphaRoudsari commented on #36
Added the components. We still need to review the input parameters which is an issue for the honeybee repository not here.

![image](https://user-images.githubusercontent.com/2915573/28439443-f1fd3268-6d6f-11e7-993c-79178cf6e9e8.png)

[2017-07-20 21:22] #36 closed

[2017-07-23 23:30] #42 closed

[2017-07-26 02:18] mostaphaRoudsari commented on #58
Resolved via https://github.com/ladybug-tools/honeybee-dynamo/commit/65e7b7d06e719f5b0a0a8c1834397bbccc12f7c7

[2017-07-26 02:18] #58 closed

[2017-07-26 02:18] mostaphaRoudsari commented on #38
Resolved via https://github.com/ladybug-tools/honeybee-dynamo/commit/65e7b7d06e719f5b0a0a8c1834397bbccc12f7c7

[2017-07-26 02:18] #38 closed

[2017-07-26 02:22] mostaphaRoudsari opened #63 "Update example files"

[2017-07-31 00:10] mostaphaRoudsari opened #64 "Update nodes"
I have made numerous improvements to the components. I need to rebuild the Dynamo nodes before the release.

[2017-08-02 20:51] mostaphaRoudsari commented on #63
### getting started
- [ ] 1. point in time simulation - grid-based
- [ ] 2. point in time simulation - image-based
- [ ] 3. daylight factor simulation
- [ ] 4. solar access simulation
- [ ] 5. annual daylight simulation
- [ ] 6. annual radiation simulation

### dynamic blind and window groups
- [ ] 7. daylight coefficient based daylight simulation - grid-based
- [ ] 8. daylight coefficient based d

[2017-08-14 14:10] arie11a0 opened #65 "truncated octree"
Hi @mostaphaRoudsari ,
I have HoneyBee (0.1.2), Dynamo (1.3.1) and Radiance (5.0.a.12-win64)  installed on my laptop and computer.
All 3 versions are the exact version.

For some reason, my simulation fails on my computer but runs ok on my laptop.
Why is this happening? Thanks in advance.

**From laptop:**
**************
*** PID  4720: rtrace -lw 0.05 -ss 0.0 -I -h -ab 2 -ad 512 -st 0.85 -dj 0.0 -

[2017-08-14 14:14] arie11a0 commented on #65
I reconnected the node in Dynamo, and ran the exact same script again.
Received the following error:

[0] ERROR:
	Handle is not initialized.

If you think this is a bug submit an issue on github.
https://github.com/ladybug-analysis-tools/honeybee-plus/issues
and include below error message:

Traceback (most recent call last):
  File "<string>", line 23, in <module>
  File "C:\Users\USER\AppData\Ro

[2017-08-14 15:04] arie11a0 commented on #65
![2017-08-14_23-00-30](https://user-images.githubusercontent.com/31008891/29277673-d9ea66d0-8144-11e7-8cf4-f72543d8bd1d.jpg)
 Picture of script running ok on my laptop

[2017-08-14 15:32] sariths commented on #65
Hi @arie11a0 Can you share the folder where the Radiance files are being written to? Based on your error message, it should be "c:\Simulations\Daylight\gridbased\". Truncated octrees usually occur when certain rad files are missing.

[2017-08-15 08:55] arie11a0 commented on #65
[Simulations (not successful from computer).zip](https://github.com/ladybug-tools/honeybee-dynamo/files/1224541/Simulations.not.successful.from.computer.zip)
[Simulations (successful from laptop).zip](https://github.com/ladybug-tools/honeybee-dynamo/files/1224542/Simulations.successful.from.laptop.zip)

Hi @sariths , files attached. Thanks!
It is strange.. because I used to be able to run Honeybee

[2017-08-15 12:39] arie11a0 commented on #65
I tried completely deleting and reinstalling honeybee and radiance on my computer.

**Got the following error on the # Honeybee Surface node:**
[0] ERROR:
	Insufficient memory within specified address space range to continue the execution of the program.

If you think this is a bug submit an issue on github.
https://github.com/ladybug-analysis-tools/honeybee-plus/issues
and include below error mes

[2017-08-16 06:01] arie11a0 commented on #65
on a side note, i am able to run Ladybug (Dynamo), although it works very slowly even for a grid of 10*10.

[2017-08-16 14:37] sariths commented on #65
Your files are fine. This issue most likely has to do with IronPython and is happening upstream with the plugin itself. @mostaphaRoudsari will be able to answer more on this once he's back next week.

![2017-08-16 09_36_02-c__users_ssubra 1_appdata_local_temp_tmppo118lrad_scene oct](https://user-images.githubusercontent.com/10361848/29368867-87b4f934-8266-11e7-9198-708f8b0fd263.png)
![2017-08-16 0

[2017-08-20 20:47] mostaphaRoudsari commented on #65
@arie11a0 thanks for posting the issue. The error `handle is not initialized` only happens in Dynamo and I have always solved the issue by re-running the node. This has to do with how Dynamo executes the graph and import the libraries.

The second issue though based on a quick search has to do with the [memory limitations](https://support.microsoft.com/en-us/help/3152158/out-of-memory-exception-in

[2017-08-20 23:11] arie11a0 commented on #65
Hi Mostapha,

thank you for looking into this. this is my email and you may send the files over, thank you so much!

Get Outlook for Android<https://aka.ms/ghei36>

From: Mostapha Sadeghipour Roudsari
Sent: Monday, 21 August, 4:47 AM
Subject: Re: [ladybug-tools/honeybee-dynamo] truncated octree (#65)
To: ladybug-tools/honeybee-dynamo
Cc: arie11a0, Mention

@arie11a0<https://github.com/arie11a0> th

[2017-08-21 16:42] SamDehghani commented on #64
Thank @mostaphaRoudsari!

[2017-08-22 05:31] mostaphaRoudsari opened #66 "Add a node to convert hdr to tiff"
Dynamo image reader node doesn't support hdr images.

This is hopefully the last node for this never ending release!

[2017-08-22 05:32] #64 closed

[2017-08-22 06:26] mostaphaRoudsari commented on #66
![image](https://user-images.githubusercontent.com/2915573/29551555-3cafdd80-86e1-11e7-8ae3-c8f6eff7ea95.png)

[2017-08-22 06:32] #66 closed

[2017-08-22 07:23] #63 closed

[2017-08-22 07:23] mostaphaRoudsari commented on #63
![image](https://user-images.githubusercontent.com/2915573/29553444-4135a760-86e9-11e7-8b07-7f8386eb9e8e.png)

[2017-08-22 10:09] andreameneg opened #67 "Room to HBZones - Honeybee for Dynamo"
I am doing some test on Honeybee for Dynamo  using some basic rooms geometry to test Sunlight Hours Analysis.
Most of the time even with simple geometry the node "Room to HBZones" gives me an error:
- "index out of range:2" or "spatial element is not inclosed in 2d or has no location, or the height is too small, and thus has no 3D geometry to calculate;

I have verified that rooms have 2.40 meter

[2017-08-22 11:36] arie11a0 commented on #65
Hi @mostaphaRoudsari ,

how do I download and install the new files?

Cheers!

[2017-08-22 15:49] mostaphaRoudsari commented on #67
@andreameneg in the volume calculation set to Area and Volumes?
![image](https://user-images.githubusercontent.com/2915573/29574515-cb6cd26e-872f-11e7-9a56-5179c3729a23.png)

Also see [this](https://knowledge.autodesk.com/support/revit-products/learn-explore/caas/CloudHelp/cloudhelp/2016/ENU/Revit-Model/files/GUID-84D8BC77-AAF3-4F45-B77E-58E35858D3AA-htm.html).

[2017-08-22 16:57] andreameneg commented on #67
Yes,it is selected "Area and Volumes". There problem was with a Unbounded room in another project phase.

Thanks

[2017-08-22 18:15] mostaphaRoudsari commented on #67
Thanks for the update. Let's close this issue then.

[2017-08-22 18:15] #67 closed

[2017-08-22 18:26] mostaphaRoudsari commented on #65
@arie11a0 I think I will push it to the package manager by the end of the day today. That way it will be easier for you to get the new version installed.

[2017-08-23 12:24] arie11a0 commented on #65
Thanks Mostapha!

Best regards,
Adriel Sim

From: Mostapha Sadeghipour Roudsari [mailto:notifications@github.com]
Sent: 23 August, 2017 2:27 AM
To: ladybug-tools/honeybee-dynamo <honeybee-dynamo@noreply.github.com>
Cc: arie11a0 <adriel.sim@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [ladybug-tools/honeybee-dynamo] truncated octree (#65)

@arie11a0<https://github.com/arie11a0> I

[2017-08-23 15:08] sajjadsaeedi opened #68 "a python problom in ladybug eather in grasshopper or dynamo"
Hi

I have a problem to load this python component at dynamo canvas , what can I do solve this error permenently ?

that’s odd to say that in ladybug and honeybee plugin I have such this error too !

and I am sure if I get rid of dynamo error I will get rid of ladybug error too . because both of them are related to python or ironpython
![3d510fb0ce002a80c2766ab8ea41b9cb5b8b2808_1_690x262](https://

[2017-08-23 16:13] mostaphaRoudsari commented on #68
@sajjadsaeedi I'm not sure what are you trying to do. If it is about using ladybug and honeybee in Dynamo install the packages from the package manager.

[2017-08-23 16:16] mostaphaRoudsari commented on #65
Hi Adriel, Can you try the new packages and let us know if it solves the problem.

[2017-08-23 19:34] sajjadsaeedi commented on #68
Hi
yes, percisely. I'm using ladybug and honeybee in dynamo. unfortunately I see this error only when I use ladybug components which is related to python or maybe was made in python !
thanks for your attention

[2017-08-23 19:55] mostaphaRoudsari commented on #68
@sajjadsaeedi, let's start checking the process step by step:

1. Can you confirm that you have the latest version of the packages installed? Also Dynamo version is 1.3 or higher?
 ![screenshot 5](https://user-images.githubusercontent.com/2915573/29635452-19cb578c-881b-11e7-9bf0-6e8718e550cd.png)

2. Download [this example file](http://hydrashare.github.io/hydra/viewer?owner=mostaphaRoudsari&fork=

[2017-08-23 21:06] sajjadsaeedi commented on #68
1. my ladybug version is 0.1.5 and my honeybee version is 0.1.2
2.I did that and here is the run of that file.
![capture2](https://user-images.githubusercontent.com/31283604/29638421-7e7b8d4a-886c-11e7-8e58-49a5bb41f31e.png)

[2017-08-23 21:15] mostaphaRoudsari commented on #68
Thanks for sharing the screen. Based on the image everything is working as expected. You need to select a valid weather file. You can see the error message in the bottom right of the screen.

[2017-08-23 21:15] #68 closed

[2017-08-23 21:28] sajjadsaeedi commented on #68
you're wellcom dear Mostafa. that's thanks to you for your attention. so what's the main reason for this problem ???
![6804db48d2885e3353a913596f0315a2dce11c67_1_433x500](https://user-images.githubusercontent.com/31283604/29639261-67e9884a-886f-11e7-942c-7a309a09514a.png)

[2017-08-23 21:31] mostaphaRoudsari commented on #68
both nodes look fine. You need to write a code inside the node to get it to work. For the firs node you need a python script. That is a Dynamo question and you should send it to the Dynamo forum: https://forum.dynamobim.com/

Also check their tutorials!

[2017-08-23 21:51] sajjadsaeedi commented on #68
yes, tnx.
this is my last question :
Do you know why these components are in red ?  I can't simulate in ladybug of rhino because of that problem!
![3d510fb0ce002a80c2766ab8ea41b9cb5b8b2808_1_690x262](https://user-images.githubusercontent.com/31283604/29640172-dc889b84-8872-11e7-927f-2c8486266072.png)

[2017-08-23 22:05] mostaphaRoudsari commented on #68
Most probably you have an older version of GHPython. See this discussion: http://www.grasshopper3d.com/group/ladybug/forum/topics/ladybug-installation-problems

[2017-08-23 22:23] sajjadsaeedi commented on #68
again it can't get rid of this problem :(
tnx

[2017-08-24 13:22] arie11a0 commented on #65
Hi @mostaphaRoudsari !

I tried one of your sample script, **04_annual_daylight_gridbased.dyn**
I got the following error at the **Annual Daylight Metrics** node.

This is the error:

[0] ERROR:
	Failed to load the results form an empty file: c:/Simulations\sample\gridbased_annual\result\scene..default.ill
Double check inputs and outputs and make sure everything is run correctly.

If you think thi

[2017-09-06 16:54] samykbs commented on #50
Hi everyone:

Thanks for all the hardwork you have been doing for honeybee and lady bug for the last update realese in dynamo.

Ive been learning more about the radiance subject, im not sure is this is a bug or im doing something wrong, ive been trying to figure it out, but no luck.

HBZones never seems to work when i plug to HBobjets to run the analysis, what im doing is convert the geometry to H

[2017-09-07 00:42] mostaphaRoudsari commented on #50
Hi @samykbs, Thank you for the feedback. I'm not clear about the issue. Can you open a new issue and share the example files so I can recreate the problem?

[2017-09-07 16:34] samykbs opened #69 "Radiance Analysis"
Hi everyone:

Im testing and working with the latest release for honeybee and ladybug in dynamo and revit 2017. Using the sample files for the process.

1.-When im using an "HB Zones" to "Run  Radiance Analysis" Node it gives me an error, not really sure what it is the cause, no complex geometry is been used.

2.-So i create a "Honeybee Surface" did a flatten list to plug it to "Run Randiance anal

[2017-09-11 09:34] AntonioRusconi commented on #24
Same issue. Is it possibly related to the language used in Revit? Does it work only on the English version?
Thanks

[2017-09-11 13:11] schaggar16 opened #70 "Annual Calcs - Empty results file"
I am trying to the 2 samples scripts for annual daylight and annual radiation. For both i keep getting the error empty results file.
When running the daylight one i got the error the rcontrib.exe stopped working. i am running Radiance 5.0 and latest honeybee packages.

[2017-09-11 13:22] schaggar16 commented on #65
@arie11a0  did you solve the above issue? i am getting the same errors i think, started a new thread.

[2017-09-11 16:25] mostaphaRoudsari commented on #65
This error is because the analysis doesn't run correctly. Opening a new issue helps. I will be busy today and tomorrow but will hopefully start checking the files for this issue and the similar ones starting Wednesday morning.

[2017-09-12 07:44] andreameneg commented on #70
I am experiencing the same issue. Apparently radiance in not writing the demo.ill files correcly.
Here is the error message:

Traceback (most recent call last):
  File "<string>", line 41, in <module>
  File "C:\Users\XXX\AppData\Roaming\Dynamo\Dynamo Revit\1.3\packages\Honeybee\extra\honeybee\radiance\recipe\solaraccess\gridbased.py", line 350, in results
    analysisGrid.setValuesFromFile(
  Fil

[2017-09-17 19:28] sajjadsaeedi commented on #68
Hi
to my genius friend
![definition](https://user-images.githubusercontent.com/31283604/30524182-afdbc0d6-9ba3-11e7-963e-6f13818d3cbd.jpg)
. I have a question.
how can I achieve “color surface” component which has _analysisSurfaces ?

It seems that we cant download that, via search packages. I tried.

[2017-09-17 19:38] sajjadsaeedi commented on #68
I mean the last component which is the right side.

[2017-09-18 09:05] mdp79 opened #71 "The Rooms to HBZone fails with message "There were not enough edges to form a polygon""
Hey. Thanks for the great work with Honeybee Ladybug.

However I have stumpled upon a problem, that might/might not be a bug. It comes when making Rooms into Honeybee Zones. At least in some cases. It comes up with the following error message:

![image](https://user-images.githubusercontent.com/31468507/30535005-dd1e457e-9c60-11e7-9d6f-554f49770db2.png)

However it appears that it only come in som

[2017-09-18 19:37] samykbs commented on #70
Hi andrea

Thats the same issue i been trying to solve, have you find a solution for this? im still tryin to figure it out.

Thanks

[2017-09-19 09:38] andreameneg commented on #70
Hi Samykbs,

I have solved it by simply installing Radiance in C:/Radiance and not in a custom folder path.

Best
Andrea

[2017-09-19 09:55] schaggar16 commented on #70
hi @andreameneg , i have got radiance installed in C:/radiance - still get the issue. any other ideas?

[2017-09-19 15:30] samykbs commented on #70
Hi @schaggar16 same thing in my case I have installed radiance in C:\Radiance and i get the same issue, what im thinking is that it may be something related to the computer permissions or access, if i find something i let you know.

Also Thanks @andreameneg for the feedback =D

[2017-09-19 17:44] samykbs commented on #70
Hey i figure out that is you install radiance in both C and tehn in Program files the analysis is running properly, Hope is helpful

[2017-09-20 16:26] schaggar16 commented on #70
@samykbs - thanks for the suggestion but no luck. i did some digging and have found that my sun_dynamo_sample_files..scene..default.dc file contains no data.
my sunmtx.sun file looks like the following - is this correct? i am using a energyplus weather file so i imagine that should be the issue.
![image](https://user-images.githubusercontent.com/20593879/30655440-d064b448-9e28-11e7-9fb1-467b9eb080

[2017-09-21 10:25] andreameneg commented on #57
Dear @SamDehghani , thanks for your script!

Would it be possible to update your sample with the new releases of Honeybee and Ladybug? I am having some issues with your workflow. In particular with Leged Setting and Colored Surfece Display for HB.

Thanks
Andrea

[2017-09-21 22:23] MattWashBVN opened #72 "Generate Colors Node 00_point_in_time_gridbased.dyn"
Hi,
I am getting an error from the colors output of the generate colors node. I think it has something to do with the format of the color values. I have replace this node with a colorByARGB node to test and it runs successfully. The error I get from the Display.ByGeometryColor node is "Warning: One or more of the input types are not matching. Couldn't find a version of ByGeometryColor that takes a

[2017-09-28 09:54] andreameneg opened #73 "Results is smaller than the analysis grids point + results interpretations"
Hi @mostaphaRoudsari,

1.I am testing the honeybee sample 05_annual_radiation_gridbased with as inputs a solid surfaces instead of the saple rectangular surfaces.
Everything work fine but when I increment the grid density i get the error below ( I have not changed the analysis grid during the calculation and the number of inputs _testSurfaces=_disFromSurface.

Is there something that I am missing?

[2017-09-30 23:29] mostaphaRoudsari commented on #71
@mdp79 thank you for posting this issue. I started a new package to address this issue: https://github.com/ladybug-tools/dynosaur

Can you share the problematic revit model with me?

[2017-09-30 23:30] mostaphaRoudsari commented on #61
@martinromby can you share the Revit model that didn't work with me? I started a new package to address this issue: https://github.com/ladybug-tools/dynosaur

[2017-09-30 23:35] mostaphaRoudsari commented on #24
All,
I started a new package to get this issue fixed. If you share your revit files with me I'll be happy to test them against the new code. Thanks!

https://github.com/ladybug-tools/dynosaur

[2017-09-30 23:38] mostaphaRoudsari commented on #20
@antonszilasi I know this issue is very old but is there any chance to you have the model that you used to create this issues? Thanks.

I started a new package to get this fixed. Doesn't seem the Autodesk API is going to support this feature anytime soon.

https://github.com/ladybug-tools/dynosaur

[2017-10-01 01:48] mostaphaRoudsari commented on #65
@arie11a0, Thank you for sharing the folder and sorry that it took so long to check the file. The issue is that you installed Radiance under `c:\Program Files\radiance` and not `c:\radiance`. Even though we handle path with white space radiance fails to find the `cal` files under the hood. Move the radiance installation under c:\radiance and that should solve your issue.

I also suggest to start p

[2017-10-01 01:57] mostaphaRoudsari commented on #69
@samykbs,
Thank you for posting this issue and sorry for the late reply. I should write a better error report. As far as I can see the zones are created with no issues. I wonder if this is the same problem as the other issues where you installed radiance under the wrong folder `c:\Program Files\radiance` instead of `c:\radiance`.

If that is not the case please share the simulation folder and I wi

[2017-10-01 02:00] mostaphaRoudsari commented on #70
This is because you're using an older version of Radiance. Install [the latest version](https://github.com/NREL/Radiance/releases/tag/5.1.0) under `c:\radiance` and not `c:\Program Files\radiance` and the issue will be solved.

[2017-10-01 02:04] mostaphaRoudsari commented on #72
Hi @MattWashBVN, From your screenshot the issue is that the structure of the colors and geometries are different. Can you flatten both inputs before connecting them to Display.ByGeometryColor?

[2017-10-01 02:20] mostaphaRoudsari commented on #73
Hi @andreameneg,

1. When you change the grid density you're changing the number of test points and because of that you need to re-run the analysis. The way Honeybee is set-up is to re-read the results unless you force it to re-run. Set reuseDmtx to False so the analysis runs for the new test points.

![image](https://user-images.githubusercontent.com/2915573/31051068-b92cd04c-a62c-11e7-92b3-93d73

[2017-10-01 12:49] mdp79 commented on #71
Ok. Sounds cool with Dynasour

Here is an example Revit file.
[DagslysDynamo_2017.zip](https://github.com/ladybug-tools/honeybee-dynamo/files/1347128/DagslysDynamo_2017.zip)
It's not the same as in the screen dumb but shows same error. I started out testing it with just one room and it worked there but after adding a wall making two rooms the same error occur. However, it is only in one of the roo

[2017-10-02 00:11] mostaphaRoudsari commented on #71
Hi @mdp79, Thanks for sharing the model. Dynosaur successfully imports the rooms from your model. The top height needs to be adjusted to match the roof otherwise it looks good!

![image](https://user-images.githubusercontent.com/2915573/31060585-22632356-a6e4-11e7-818c-56d1ddf0cc4a.png)

I close this issue for now understanding that it will still be an issue until I integrate the new code into hon

[2017-10-02 00:11] #71 closed

[2017-10-02 20:10] russoluca commented on #61
Hi, in order to install dynosaur I need to replace the .py files from the dynosaur folder into the honeybee folder right? I don't know if I did it in the right way since this error pops up:
![2017-10-02 2](https://user-images.githubusercontent.com/32467270/31097109-7a065bf2-a7be-11e7-9303-9dd32c410d52.png)

[2017-10-02 20:16] mostaphaRoudsari commented on #61
@martinromby, It's not as simple as that. I will make the adjustments and upload a new version of honeybee soon. Meanwhile if you can share the Revit file with me I can test it beforehand and make sure it works for your case.

[2017-10-02 20:45] russoluca commented on #61
Thanks for the answer, anyway I did the test on the basic architectural example of Revit.
So what would be the proper way to install the dynosaur package? Or we should wait for a new honeybee version?

[2017-10-03 01:08] mostaphaRoudsari commented on #61
I just pushed a new version to dynamo package manager. It does a better job in importing room and works fine if you load the rooms one by one. There are some Dynamo hiccups and random errors if you try to import all the rooms all at once.

![image](https://user-images.githubusercontent.com/2915573/31105940-9b484c52-a7b5-11e7-9bdf-16efd5c87ede.png)

[2017-10-03 09:27] russoluca commented on #61
Awesome, thank you very much!

[2017-10-03 09:34] russoluca opened #74 "ERROR: diff: 0, dir: 629, zenith: 83.741"
Hi everyone,

So, I've got Honeybee 0.1.5 running and whether I'm running a sample file for the annual radiation or a definition made from scratch, this error pops up from the Run Radiance Analysis node:

[code]
Do you have any idea about what that could mean?
Thanks

[2017-10-03 14:21] antonszilasi commented on #20
@mostaphaRoudsari  I'm afriad I don't I should have commited it!

[2017-10-07 00:50] mostaphaRoudsari commented on #20
Hi @antonszilasi. It's cool. Thanks for the update.

[2017-10-07 00:50] #20 closed

[2017-10-07 00:51] mostaphaRoudsari commented on #74
@russoluca which epw file are you using? This is an error inside gendaylit. I want to test it with Radiance's gendaylit first.

[2017-10-16 15:48] schaggar16 commented on #70
That did the trick. Thanks.

[2017-10-22 17:27] sajjadsaeedi commented on #68
![23](https://user-images.githubusercontent.com/31283604/31864546-84935da4-b713-11e7-81eb-86349ec88874.png)

hi
why this error appear ???
tnx

[2017-10-22 17:28] sajjadsaeedi opened #75 "honeybeePlus"
![23](https://user-images.githubusercontent.com/31283604/31864554-b5aed5e4-b713-11e7-9d4b-b78f8e8d4e98.png)

hi
why this error appear ??
tnx

[2017-10-24 06:57] boatshoeholic commented on #69
Hi @mostaphaRoudsari
I am having the same problem like this.
I did installed Radiance under the folder c:\radiance.
Everything was fine while running the example file "02_daylight_factor_gridbased"
![3](https://user-images.githubusercontent.com/32923562/31928055-3f39d456-b8c9-11e7-926a-f16effacfefe.PNG)
But while running the example file "06_daylight_coefficient_gridbased"
the node "Run Radiance A

[2017-10-31 23:51] bwlosinski commented on #72
We ran into this issue in the 04 example  and we had to flatten the lists and then unwrap the rgb values using a quick python node calling each value into a separate list and key them into a color.byargb node.
![honeybee_dynamo_rgbvalues](https://user-images.githubusercontent.com/19575091/32254044-65041e96-be6c-11e7-979a-9e6aef65aa00.PNG)

[2017-11-03 07:12] TheodoreGalanos commented on #60
Damn I kind of forgot about this one, sorry!

A tensor would be a n-dimensional array much like an nd-array in numpy. For example, you can image a tensor that allows images to be represented as: (x_pos, y_pos, color_value, class).

For daylighting the color value would relate of course to the actual result for whatever metric we calculated in the process. The class of the image should be set by th

[2017-11-03 09:00] TheodoreGalanos commented on #60
![image](https://user-images.githubusercontent.com/13436572/32366295-7868d816-c0b8-11e7-91ab-fc2827590e8e.png)

[2017-11-08 22:51] mostaphaRoudsari commented on #72
@bwlosinski interesting! In your example the node fails to convert the colors from Ladybug colors to Dynamo colors. Are you using the latest version of Ladybug for Dynamo?

[2017-11-08 22:55] mostaphaRoudsari commented on #60
@TheodoreGalanos thank you for the update. I agree that this can be very useful but it may not really fit the core honeybee functionalities. What if we write a script to do that similar to what you have done in your code but don't include it in the core library?

[2017-11-08 23:04] mostaphaRoudsari commented on #75
Hi @sajjadsaeedi, This means that honeybee is not installed correctly on your machine. How did you install honeybee[+]? Did you [follow the instruction to install honeybee[+]](http://discourse.ladybug.tools/t/honeybee-0-0-3-for-grasshopper-and-dynamo-release/2024/3)?

[2017-11-09 01:22] mostaphaRoudsari commented on #68
duplicated with this: https://github.com/ladybug-tools/honeybee-dynamo/issues/75

[2017-11-09 01:35] TheodoreGalanos commented on #60
@mostaphaRoudsari yeah I think that is ok. It's a bit of a risk cause we'd need to rely on external libraries linking to python or C# (like in Owl).

I still need to find some time and run a glare+convolutional network study which will require this. With the colour values output of the image viewer now ready, this could be pretty cool.

[2017-11-09 01:35] #60 closed

[2017-11-09 01:36] TheodoreGalanos commented on #60
@mostaphaRoudsari yeah I think that is ok. It's a bit of a risk cause we'd need to rely on external libraries linking to python or C# (like in Owl).

I still need to find some time and run a glare+convolutional network study which will require this. With the colour values output of the image viewer now ready, this could be pretty cool.

I'll reopen this when I do, think it isn't an issue anymore.

[2017-11-15 22:54] lucianoambrosini commented on #61
Hi everyone, thanks for your effort. I have the same error like russoluca , is it still possible? (or just my fault?)
I have Revit 2018.1 and HB package 0.1.5. I have tried also your last solution, but i still getting the error. Revit model is very very simple. Any suggestion?

![snipaste_20171115_235211](https://user-images.githubusercontent.com/16278183/32864666-58e95bc6-ca60-11e7-9ef2-01ec4fac1

[2017-11-19 01:16] mostaphaRoudsari commented on #69
@boatshoeholic, Sorry that it took me forever to check this. Can you share the folder with me? A better place to post this question is actually the discourse forum: http://discourse.ladybug.tools

[2017-11-19 01:17] #70 closed

[2017-12-05 23:48] AlyssaHaas opened #76 "Can't find gendaymtx.exe"
Hi There,

I am attempting to run 05_annual_radiation_gridbased.dyn to build an understanding of how to do this type of analysis on models in dynamo and I am coming up against the error message below. I did check my app folder and I do have a file path to gendaymtx.py...

Anyhow I am a bit stuck on how to proceed and I'm not sure if its a problem with my install, I re-ran the dynamo HoneyBee insta

[2017-12-14 13:07] schaggar16 opened #77 "Honeybee Surface Error - invalid integer literal"
Hi, currently getting the following error with the Honeybee Surface node, invalid integer literal (screenshot below). I am running latest version of honeybee and version 1.2.1 of dynamo with revit 2017.
Any ideas?
![image](https://user-images.githubusercontent.com/20593879/33993643-4b0808a6-e0cf-11e7-8d21-b3aa6b826f19.png)

[2017-12-14 15:53] mostaphaRoudsari commented on #77
Hmm. I remember we had this issue before. Any chance that you an share the full error message with me? I want to get the exact line that the error happens. Does it work if you remove type or names input?

[2017-12-14 15:57] mostaphaRoudsari commented on #76
@AlyssaHaas, Sorry for the late reply. As the error message says it can't find gendaymtx since it can't find Radiance installation. Where did you install Radiance? Is it installed in `c:\radiance\`? You can set it up to a different path by modifying the json file but it's not recommended.

[2017-12-14 15:58] mostaphaRoudsari commented on #75
I'm closing this issue because of inactivity. Hopefully that means that the issue is solved.

[2017-12-14 15:58] #75 closed

[2017-12-14 16:01] schaggar16 commented on #77
Hi @mostaphaRoudsari - did some further digging into the errors, it was to do with the honeybee config file and my recent installation of openstudio. It was struggling with the location of the openstudio install. I have done a manual override to point it to the right location and it did the trick.

[2017-12-14 16:06] mostaphaRoudsari commented on #77
Hi @schaggar16, Thank you for the update. Just for the future reference you can set up them manually inside config.json file which you can find inside the installation folder:
![image](https://user-images.githubusercontent.com/2915573/34001754-d3182e1c-e0be-11e7-8a8b-003ca1950baf.png)

[2017-12-14 16:06] #77 closed

[2017-12-14 16:12] AlyssaHaas commented on #76
Hi Mostapha,

It was definitely a path issue. c:\radiance solves it. Thanks!

[2017-12-14 16:12] #76 closed

[2018-01-04 12:56] koubaaleila opened #78 "which modeldoes ladybug use to calculate global radiation ?"
there is many models of calculation of global solar radiation ( Lacis &
Hansen, le modèle de Davies & Hay, le modèle de Bird & Hulstrom et celui de Atwater
& Ball ) which one does ladybug use?

[2018-01-05 00:44] mostaphaRoudsari commented on #78
We are using Radiance to generate the skies. You can check the source code and the documentation from Radiance. For point in time radiation analysis you can use gensky ([docs](https://www.radiance-online.org/learning/documentation/manual-pages/pdfs/gensky.pdf/view), [source](https://github.com/NREL/Radiance/blob/53485a7fb48727293d62f98d7bac830aa34ccba4/src/gen/gensky.c)) or gendaylit ([docs](https

[2018-01-09 09:04] koubaaleila opened #79 "solar radiation errors on honeybee"
hello!
I can't have values of solar radiation using honeybee! There is an error somewhere! Can you check it?
i'm using tunisia epw, ladybug 1.9, honeybee 1.5 on dynamo 1.3 and revit 2018

![capture](https://user-images.githubusercontent.com/24694950/34712830-843cec4a-f524-11e7-95ff-252c52853f5e.png)

[2018-01-17 09:28] koubaaleila opened #80 "solar radiation honeybee dynamo"
hello!
I can't have values of solar radiation using honeybee on dynamo!
![honeybee error](https://user-images.githubusercontent.com/24694950/35035277-20a49c20-fb71-11e7-8a0d-1d13cdd4d0f6.png)

[2018-02-06 08:49] koubaaleila commented on #78
I used ladybug 1.7 for solar radiation analysis but when the componment is moved to honeybee i cannot calculate solar radiation. I have errors!!
![honeybee error](https://user-images.githubusercontent.com/24694950/35849674-af700d3e-0b22-11e8-9a96-b6e402dbe993.png)
why honeybee doesn't  distinguish between componment for solar radiation analysis and daylight analysis ?

[2018-02-08 23:49] mostaphaRoudsari commented on #79
duplicate with #80

[2018-02-08 23:49] #79 closed

[2018-02-08 23:50] mostaphaRoudsari commented on #78
Hi @koubaaleila, Sorry for the delay to reply but the right place to post questions like this is discourse.ladybug.tools

I replied to your question under another similar issue.

[2018-02-08 23:50] #78 closed

[2018-02-08 23:52] mostaphaRoudsari commented on #74
This is addressed in honeybee core! https://github.com/ladybug-tools/honeybee/commit/d68b6beb9fd1d8f15f19451a4f4484f2c7b83c75

[2018-02-08 23:52] #74 closed

[2018-02-08 23:52] mostaphaRoudsari commented on #73
I'm closing this issue because of inactivity. Feel free to reopen if the issue is still not solved.

[2018-02-08 23:52] #73 closed

[2018-02-10 01:59] mostaphaRoudsari commented on #72
I can't replicate this issue in the new release. Feel free to reopen the issue with a sample file to recreate the issue.

[2018-02-10 01:59] #72 closed

[2018-02-10 02:00] mostaphaRoudsari commented on #65
I'm closing this issue because of inactivity.

[2018-02-10 02:00] #65 closed

[2018-02-10 02:01] mostaphaRoudsari commented on #69
I'm closing this issue because of inactivity. I assume the issue is solved already. Feel free to reopen or open a topic on discourse.

[2018-02-10 02:01] #69 closed

[2018-02-13 14:35] Sonderwoods commented on #37
Has the reverse interpolation been implemented into HB[+] yet?

[2018-02-19 08:16] koubaaleila opened #82 "error honeybee-dynamo with GBS generated EPW file"
Hello!
i was testing honeybee-dynamo with the epw files of tunisia 147014 but the skymatrix writes that it's not available. However when the componment of solar radiation was in ladybug 1.7 it worked!

[2018-02-19 14:52] mostaphaRoudsari commented on #82
The only weather file that I can file is [this one](https://www.energyplus.net/weather-download/africa_wmo_region_1/TUN//TUN_Tunis.607150_IWEC/all). Can you zip and upload your weather file?

[2018-02-19 14:59] koubaaleila commented on #82
Le lundi 19 février 2018 à 15:52:57 UTC+1, Mostapha Sadeghipour Roudsari <notifications@github.com> a écrit :

The only weather file that I can file is this one. Can you zip and upload your weather file?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-02-19 15:03] koubaaleila commented on #82
[GBS_06M12_02_147014.zip](https://github.com/ladybug-tools/honeybee-dynamo/files/1737217/GBS_06M12_02_147014.zip)

[2018-02-20 21:10] Anthindi opened #83 "Hello everyone,"
Hello! Thank you for helping us by reporting bugs or requesting for improvements. Before posting your issue, please quickly review the notes below to ensure opening an issue is the right choice for your case.

- If this issue is **not** a bug report or improvement request, please check the [Ladybug Tools forum](http://discourse.ladybug.tools), and start a topic there to discuss your issue. If you

[2018-02-20 21:16] mostaphaRoudsari commented on #83
?

[2018-02-20 21:16] #83 closed, assigned to nobody

[2018-02-20 21:20] Anthindi opened #84 "Error-Run randiance analysis"
Hello everyone,
I'm facing an issue with ladybug package  specifically with the run radiance analysis node, not really sure what is the problem it keeps on giving me error after creating the file
I uploaded the workflow,
hope this will work,
thank you

[2018-02-20 21:26] mostaphaRoudsari commented on #84
Hi @Anthindi,

This is a good question for the forum: http://discourse.ladybug.tools/

See [here](http://discourse.ladybug.tools/t/welcome-to-ladybug-tools-forum/8) on how to get an invitation to create an account if you don't have one.

PS: You forgot to upload the file. Please upload it to the forum. It's always helpful to provide more details about the error messages.

[2018-02-20 21:26] #84 closed, assigned to nobody

[2018-04-10 11:13] koubaaleila commented on #82
hi mustapha. I still look for an answer.. the station is not valid also for dynamo honeybee
![capture147](https://user-images.githubusercontent.com/24694950/38633585-15aea89a-3db8-11e8-89d8-066cf857da7b.png)

[2018-04-10 11:18] koubaaleila opened #85 "solar radiation for honeybee dynamo"
when calculating solar radiation (hourly value) in dynamo honeybee can't calculate for more than one hoy at a time and also for cumulative value it can't calculate for a time step more than 1
![22](https://user-images.githubusercontent.com/24694950/38633404-70e1c0d6-3db7-11e8-99b2-a425ac181baa.png)

[2018-04-10 14:38] wyxai224 opened #86 "radiation Analysis for honeybee ( color doesn't come out)"
![radiation analyse](https://user-images.githubusercontent.com/38140776/38563413-6c9714e2-3ca2-11e8-8833-010a2dcfee22.png)

I don't know why it doesn't work. It actually works if the surfaces are made in dynamo.

[2018-04-12 00:29] mostaphaRoudsari commented on #82
Hi @koubaaleila, What is the error from run_radiance node?

[2018-04-12 00:44] mostaphaRoudsari commented on #82
I checked the weather file and there are some strange inputs for <not available>. I replaced them with NA and now everything is running fine.

![image](https://user-images.githubusercontent.com/2915573/38650245-c7ec26d0-3dc8-11e8-97d5-4b32b12ec699.png)

Here is the modified file:  [GBS_06M12_02_147014_fixed.zip](https://github.com/ladybug-tools/honeybee-dynamo/files/1900937/GBS_06M12_02_147014_fix

[2018-04-12 00:46] mostaphaRoudsari commented on #86
Hi @wyxai224, this is most likely because all the values from your analysis are the same. Can you check the values? I thought I fixed it recently. Which version of Honeybee package are you using?

[2018-04-12 00:50] mostaphaRoudsari commented on #85
Not sure what you mean by this? Are you looking for cumulative results? You should use the node for cumulative values

This is true. For now we don't support sub-hourly simulation. See here: https://github.com/ladybug-tools/honeybee-dynamo/issues/37

[2018-04-12 12:05] koubaaleila commented on #85
i need to calcular direct solar radiation for many hours.. when the componment was in ladybug 1.7 i made a noeud to do it. It allowed me to calculate radiation for many hours. But now, using honeybee i can't do it.
Thank you

[2018-04-12 12:06] koubaaleila commented on #82
thank you very much.

[2018-04-12 12:18] koubaaleila commented on #82
what is the explication of different values from ladybug 1.7 and honeybee for the same hour?
for exemple i calculated for southern façade on 01/01 at 10
i had 333,070581605999 with ladybug 1.7 and now 335

[2018-04-12 12:56] mostaphaRoudsari commented on #85
Use the `Sensor` node to create a sensor and then use `Sensor Hourly Values` get the results for several hours.

[2018-04-12 12:58] mostaphaRoudsari commented on #82
In honeybee we round the numbers. and the original number was probably 333.070581605999 (. instead of ,). See this for an answer to your question: http://discourse.ladybug.tools/t/question-why-every-time-the-simulation-results-is-not-the-same/590

I'm closing this issue since the original issue is resolved.

[2018-04-12 12:58] #82 closed, assigned to mostaphaRoudsari

[2018-04-12 13:06] koubaaleila commented on #85
very good thank you

[2018-04-12 14:25] wyxai224 commented on #86
![value 1](https://user-images.githubusercontent.com/38140776/38682187-186a64fc-3e30-11e8-8a9a-1f560be19613.PNG)
Hi@mostaphaRoudsari , I used the 0.17 Honeybee which I think it's the latest version. And why the solar value turned into the 0 after "solar radiation analysis" node?

[2018-04-12 15:59] koubaaleila opened #87 "comparing solar radiation values between dynamo ladybug 1.7 and honeybee"
calculating solar radiation values on dynamo with ladybug 1.7 and honeybee 2.0 i need explication for different outcomes values for the same hour
![image](https://user-images.githubusercontent.com/24694950/38689163-c29f4356-3e72-11e8-912b-3eab71f2691c.png)

[2018-04-12 18:01] mostaphaRoudsari commented on #86
Hi @wyxai224, these components are old Ladybug component and not Honeybee. Please use the updated sample file that comes with the Honeybee package.

[2018-04-12 18:02] #85 closed, assigned to nobody

[2018-04-12 18:06] mostaphaRoudsari commented on #87
@koubaaleila,

As I replied [here](https://twitter.com/PHDcomics/status/984451993103142913) radiance uses stochastic methods to calculate the values and small difference between the values is expected. You can find similar discussions on the forum which is the right place to ask questions like this: http://discourse.ladybug.tools/t/question-why-every-time-the-simulation-results-is-not-the-same/590

[2018-04-12 21:34] wyxai224 commented on #86
![radiation analyse 2](https://user-images.githubusercontent.com/38140776/38705367-f30d18aa-3e6e-11e8-8552-64a1314b7f7a.png)
@mostaphaRoudsari  I used the latest sample in Honeybee package.  And I install the RADIANCE, while it still doesn't work..... The error is " 'stackvalue' object has no attribute ' parse_blind_states' ".

[2018-04-14 16:28] yhdiary88 commented on #24
Same issue.
So, Should I download the dynosaur package to solve this problem now?

[2018-04-24 10:42] koubaaleila opened #88 "Dynamo cannot find Ladybug's installation folder"
Hello! Ladybug won't work on dynamo! what is the problem??i tried to install it again but i doesn't work.

![image](https://user-images.githubusercontent.com/24694950/39192242-aa79efb2-47d0-11e8-9c56-56363e7b5cde.png)

[2018-04-24 15:50] koubaaleila commented on #88
I installed dynamo studio, and ladybug won't work neither!
![image](https://user-images.githubusercontent.com/24694950/39198684-91f3c774-47df-11e8-8a38-bc041ba6fefc.png)

[2018-04-24 17:28] mostaphaRoudsari commented on #88
@koubaaleila, I think it's because you're trying to run it from Dynamo Studio but you have installed it from Dynamo for Revit.

Are the files located under `C:\Users\%USERNAME%\AppData\Roaming\Dynamo\Dynamo Revit\1.3\packages\Ladybug`? For Dynamo Studio you should copy the files under `C:\Users\%USERNAME%\AppData\Roaming\Dynamo\Dynamo Core\1.3\packages\Ladybug`

[2018-04-24 17:40] koubaaleila commented on #88
i tried for Revit dynamo and it doesn't work neither. The files are on the right place

    Le mardi 24 avril 2018 à 18:28:29 UTC+1, Mostapha Sadeghipour Roudsari <notifications@github.com> a écrit :

@koubaaleila, I think it's because you're trying to run it from Dynamo Studio but you have installed it from Dynamo for Revit.

Are the files located under C:\Users\%USERNAME%\AppData\Roaming\Dynamo\

[2018-04-24 17:48] mostaphaRoudsari commented on #88
Can you follow the directions here: https://github.com/ladybug-tools/honeybee-dynamo/issues/42#issuecomment-285682094

This should tell us more on why it can't find the installation folder.

[2018-04-24 18:00] koubaaleila commented on #88
C:\Users\LAÏLA\AppData\Roaming\Dynamo\Dynamo Core\1.3\packages\Ladybug

[2018-04-24 18:13] mostaphaRoudsari commented on #88
The path is correct which means it's most likely because of `Ï` in `LAÏLA`.

Use Settings > Manage Node and Packages Path to define a new folder with no special characters and move the package folder there. Once you do that Honeybee should be able to find the installation folder and import the libraries.

[2018-04-25 09:58] koubaaleila commented on #88
thank you. It's resolved

[2018-04-27 07:56] irfanirw opened #89 "dynamo-ladybug installation not found"
Hello,

I am using dynamo 2.00 with the recent ladybug and revit 2018.
I have a problem loading the epw file using dynamo ladybug.
The error message was like this:

	FIle "<string", line 57, in <module>
ImportError: Ladybug is not installed! Install it from package manager

I have tried to check the problem here
[https://github.com/ladybug-tools/honeybee-dynamo/issues/88](url)
but I think i have n

[2018-04-27 20:07] #88 closed, assigned to mostaphaRoudsari

[2018-05-18 21:08] EENagel opened #90 "Why this error?"
![capture](https://user-images.githubusercontent.com/32551969/40257953-4042910e-5aad-11e8-972a-592003b39922.JPG)

[2018-05-19 11:49] mostaphaRoudsari commented on #89
Hi @irfanirw, and where is honeybee package installed on your machine?

[2018-05-19 11:49] mostaphaRoudsari commented on #90
Have you seen this: https://github.com/ladybug-tools/honeybee-dynamo/issues/89

[2018-05-19 11:49] #87 closed, assigned to nobody

[2018-05-20 05:52] irfanirw commented on #89
Hello @mostaphaRoudsari , thank you very much for your response.

The directory of my package files is here:

Is it any potential issue with my package directory?

[2018-05-20 16:02] mostaphaRoudsari commented on #89
Hi @irfanirw, thank you for the quick reply. The difference is 2.0 versus 2 in filepath. I haven't tested the packages against Dynamo 2. The fix shouldn't be hard but it will take me some time before I can check the packages. Meanwhile can you use Dynamo 1.* for your work?

[2018-05-20 17:50] irfanirw commented on #89
Hi, thank you for the response @mostaphaRoudsari
I see.. While waiting for it, think I could use the previous version.
Hope you could solve it anyway.

Many thanks.

[2018-05-20 19:22] mostaphaRoudsari commented on #89
Thanks. Will do. It's just a matter of time as I have several deadlines for this week and will be away for teaching workshops for another week. I have marked this as critical to get to it as soon as I can.

[2018-06-25 16:00] CedricTvn opened #91 "HBSurface is not a valid Honeybee Object"
Hello,

I have been learning Honeybee for Dynamo for a dew days now, and as I am getting to know it I decided to try and run an analysis from a Revit model.
As the Collect Rooms and Spaces node seems to not be 100% reliable, I decided to try and import my model categories by categories (without applying any specific radiance material for now).

![full import analysis](https://user-images.githubuse

[2018-06-26 07:56] CedricTvn commented on #91
I actually managed to solve the issue. I should have paid more attention before submitting, apologies.

I actually had two errors: the first one is that I forgot to flatten my HBObjects before inputting it in Run Radiance Analysis.
Secondly, the error that caused the trouble was that for some reason I had an empty item in my walls surface. I simply removed it and it ended up working.

[2018-06-26 07:56] #91 closed, assigned to nobody

[2018-07-23 15:35] JoshuaC-STN commented on #89
What do you mean by use Dynamo 1? I have this same error.

[2018-07-23 17:16] JoshuaC-STN commented on #25
I still get this Error. I don't think this has been resolved.

[2018-08-08 09:29] ifolg commented on #89
I am here for the very same problem (the same error). My ladybug package works properly in Dynamo ver 1.3 but does not in ver. 2.0. The whole code and model is written in Dynamo 2.0 and for me it is critical to use Ladybug in new version of Dynamo. If I only knew that 2.0 brings me so much problem I would not choose that one, but I am working on my master thesis and it's new path of knowledge for

[2018-08-09 19:22] #90 closed, assigned to nobody

[2018-08-09 19:33] mostaphaRoudsari commented on #89
I just pushed new versions of ladybug and honeybee to package manager. Try to update your installation and try it in Dynamo 2.0

[2018-08-09 19:33] #89 closed, assigned to mostaphaRoudsari

[2018-08-09 19:47] mostaphaRoudsari commented on #86
I'm closing this issue! Please re-post it to the forum if the issue is not solved: discourse.ladybug.tools

[2018-08-09 19:47] #86 closed, assigned to nobody

[2018-08-09 19:47] mostaphaRoudsari commented on #40
This is now possible with Accelerad! I'm closing this issue as the main topic has been addressed.

[2018-08-09 19:47] #40 closed

[2018-08-09 19:48] mostaphaRoudsari commented on #4
Travis integration is now in place both for Ladybug and Honeybee core libraries. Closing this issue.

[2018-08-09 19:48] #4 closed

[2018-08-09 19:51] mostaphaRoudsari commented on #37
This is now possible if you use `wea.from_file` classmethod to import wea files with smaller timesteps than 1 generated by Daysim. Not sure if we will ever get the chance to rewrite dc_shortterm in Python.

[2018-08-10 10:00] ifolg opened #92 "'Circle' object has no attribute 'Center'"
I want to use node 'Generate Test Points by Grid Size', but mine surface is circle what seems to be a problem.  I tried to make rooms and then use 'Room to HBZ', but unfortunately Revit can not see floor under the dome as a room, because I have panels as my walls what complicates that issue.

Dynamo creates surface by patch on the base of my dome, but then doesn't want to see it as a proper surfac

[2018-08-17 14:18] Mahamiho opened #93 "DF results approximation from Honeybee plus in Dynamo"
Hey,
I ran a test simulation using the DF example file, and I noticed that all the results are approximated. Is there a way to change that?
Thanks alot
![image](https://user-images.githubusercontent.com/26859104/44270942-2016c980-a239-11e8-8b0a-273b55c854d2.png)

[2018-08-17 16:22] mostaphaRoudsari commented on #93
Yes and I forgot to do it for the Dynamo package. Download the new package which I just pushed a new version which should fix this. Package manager website is down. I hope it has been updated successfully.

![image](https://user-images.githubusercontent.com/2915573/44277043-6b1fe500-a217-11e8-8db9-ffd0c795bfb0.png)

[2018-08-17 16:22] #93 closed, assigned to nobody

[2018-08-17 16:24] mostaphaRoudsari commented on #92
Hi @ifolg, In such case it's easier if you use evaluate surface node from Dynamo. Also it seems you are using an older version of the plugins. Please update to the latest version.

[2018-08-17 16:24] #92 closed, assigned to nobody

[2018-08-20 14:53] Mahamiho commented on #93
Hey @mostaphaRoudsari ,
The new package is compatible with the latest version of Dynamo, however Dynamo itself in this version is still not very stable and keeps crashing. Can you provide this solution in Honeybee that is compatible with version 1.3?
Thanks alot,

[2018-08-20 19:45] mostaphaRoudsari commented on #93
Based on my understanding it should work for both versions. What is the error in version 1.3?

[2018-08-21 09:12] Mahamiho commented on #93
Hey @mostaphaRoudsari
First I get the error in the image, I still install it, but when I try to run the calculation the Generate test point node says Honeybee is not installed. I was trying with Dynamo version 1.3.2.2480
![image](https://user-images.githubusercontent.com/26859104/44392715-1fc94780-a533-11e8-91f0-93679686a335.png)

Thanks for your help in advance,

[2018-09-07 06:38] Mahamiho opened #94 "DF results approximation from Honeybee plus in Dynamo 2"
Hey,
I am opening the discussion again since the problem has not been solved yet,
I tried to install the latest honeybee so that the results are not rounded to the closest integer but it seems it is not compatible with version 1.3.2.2480.
First I get the error in the image, I still install it, but when I try to run the calculation the Generate test point node says Honeybee is not installed.
![imag

[2018-10-03 15:19] MikeRensing opened #95 "Failed to load results from an empty file."
I am trying to run Honeybee.  I am using the sample ))_point_int_time_gridbased script with the honeybee_test_room.rvt file. I installed the Radiance from github, downloaded a epw weather file. and set run_ on the Run Radiance Analysis node to true.  The error.txt file in the output directory has the following error
"rtrace: system - cannot find function file "rayinit.cal": Invalid argument"

I as

[2018-10-14 19:10] ghost commented on #69
Hi I am getting the same error and couldn't find any other links that mentions the solution to this. Appreciate any help.

@boatshoeholic Were you able to solve this?

[2018-10-14 20:13] ghost opened #96 "Radiance Analysis"

[2018-10-14 21:41] Thajnu commented on #96
Hi

I am fairly new to Dynamo and have been working on a small project for Honeybee daylight analysis.

I managed to import geometry from REVIT and create analysis grid. But I am stuck at Run Radiance Analysis Node. This is very similar to #69 ,but could not find any solution for it.

EmptyFileError: Failed to load the results from an empty file: c:\ladybug\Test1gridbased_daylightcoeff\result/scen

[2018-10-16 20:26] #96 closed, assigned to nobody

[2019-02-09 15:52] nuyaan commented on #42
Hi @mostaphaRoudsari
Im using Dynamo version 2.0.2
I have installed the packeges but i still get the same error.

[2019-02-20 08:45] alicialeeinchina commented on #24
Same issue. Still don't know how to solve it.
So we cannot create butterfly geometry from revit geometry until autodesk making room api access public ? Thanks.

[2019-02-21 21:27] michaelmontagne opened #97 "clr.AddReference('ProtoInterface')"
Running Revit 2018.2 and Dynamo 2.02
Honeybee package.  Node "Generate Test Points from HBZones" throws this error:
Could not add reference to assembly ProtoInterface.
Not sure how to address this.

[2019-02-22 15:08] mostaphaRoudsari commented on #97
@michaelmontagne, Thank you for reporting. I didn't have the change to test Dynamo 2.02. Will update once I get to do that.

[2019-02-22 17:53] flanaganthemanagan opened #98 "Could not CHMOD executable"
Trying to perform a Solar Access Radiance Analysis on façade components. Following ERRReport is generated:

Traceback (most recent call last):
  File "<string>", line 36, in <module>
  File "C:\Users\Student\AppData\Roaming\Dynamo\Dynamo Revit\1.3\packages\Honeybee\extra\honeybee\radiance\recipe\solaraccess\gridbased.py", line 341, in write
    oc = Oconv(project_name)
  File "C:\Users\Student\App

[2019-03-13 20:31] dradair opened #99 "indoor_study-Get surface from HBZones"
Butterfly sample file - getting Honeybee error.
Testing the example file "indoor_study.dyn" in Revit  2019. I get an error on the Custon Node 'Get surfaces from HBZones":
Warning: IronPythonEvaluator.EvaluateIronPythonScript operation failed.
Traceback (most recent call last):
  File "<string>", line 25, in <module>
AttributeError: 'HBSurface' object has no attribute 'hasChildSurfaces'

Looking at

[2019-03-27 21:13] dradair commented on #95
was having same issue
see this thread's solution

[2019-04-22 11:48] jiannanjj opened #100 "Honeybee"
Hello guys,

I just started using honeybee 0.1.8 in Dynamo, when I run the default test file"honeybee_test_room" in the default "00_point_in_time_gridbased.dyn", the dynamo shows an error like I showed in the following screenshot.
![11](https://user-images.githubusercontent.com/49868445/56499099-bcc0f380-64b9-11e9-8266-e4e4a0d624c0.png)

I also attach the honeybee file I am using, does anyone know

[2019-04-22 11:50] jiannanjj commented on #100
[00_point_in_time_gridbased.zip](https://github.com/ladybug-tools/honeybee-dynamo/files/3103258/00_point_in_time_gridbased.zip)
here is the honeybee file I am using, I did not change anything from the default one

[2019-04-24 10:39] ManiakManiak commented on #98
You have to instal radiance software at: C:\radiance

[2019-04-24 10:45] flanaganthemanagan commented on #98
Thank you!

[2019-04-24 10:45] #98 closed, assigned to nobody

[2019-05-17 22:17] davor88 opened #101 "Geometry problem with HB Surfaces"
Hello everybody.

I am just starting to use dynamo and my main motivation to use it is because I discovered the amazing work of @mostaphaRoudsari , congratulations !! This is really awesome. I've been reading and watching also tutorials on some of the basics of Dynamo and also about ladybug and honeybee to the point that I have managed to "bake the analysis results in Revit" as shown by Saeed Dehg

[2019-05-20 13:38] deropre commented on #101
Hello,

It appears i have the same problem and i can't find the solution.
But this is not the only block with this kind of problem :

In fact for the Analysis Grid block, the input that you get using Honeybee or Ladybug is different from what is expected:

(string, Point[], Vector[], var[]), but was called with (string, Autodesk.DesignScript.Geometry.Point[], DesignScript.Builtin.Dictionary, Desig

[2019-05-29 02:04] jrthill1 opened #102 "Have to close Dynamo and open again to run example code"
Hello,

I have been using an example code from Honeybee,(02_daylight_factor_gridbased) that works pretty well, but does not run (no errors, the results are just not updated, even though I've changed the window height via type parameter) unless I close dynamo and reopen it again every time. I am trying to use honeybee with Refinery to optimize window size, but in order for that to work I have to be

[2019-06-24 10:46] giovanniconsiglio opened #103 "Issue with sample files - Local variable 'combs' referenced before assignment."
Hi All,

I'm getting a error in the "Annual Daylight Metrics" node of the sample file 06_daylight_coefficient_gridbased.

![image](https://user-images.githubusercontent.com/37558888/60012682-e09ce300-967c-11e9-8a6d-1fe30327da86.png)

ERROR:
	Local variable 'combs' referenced before assignment.

If you think this is a bug submit an issue on github.
https://github.com/ladybug-tools/honeybee-dynamo/i

[2019-06-24 11:05] giovanniconsiglio commented on #103
PS. The ERROR Message is when I try to give a list of int to _minmax_ input. When I leave it empty I get null

[2019-07-12 13:41] mostaphaRoudsari commented on #103
Thank you for reporting this. The Dynamo packages need some real attention. I'll address the issue when we update the packages.

[2019-08-26 07:47] calmudever opened #106 "How to apply my Revit model into Dynamo for Sunlight hours analysis?"
Hi,
I am a new user of Dynamo and I’m having some trouble to apply the sunlighthours analysis to my Revit model. I’ve watched @mostaphaRoudsari  ‘Sunlight Hours Analysis in Dynamo’ video and everything worked fine, but now I’m not able to apply my model to this script. I’ve tried by using:
‘SelectModelElements’>‘ElementGeometry’>‘List’ but it’s giving me way too many warnings, and of course it’s n

[2019-08-26 13:21] mostaphaRoudsari commented on #106
It might be because of the version of Revit that you are using. There is an open PR by @sbreslav that should address this but I didn't get a chance to review it. Let's see if I can get to it this week. Thank you for reporting the issue.

[2019-08-26 15:24] calmudever commented on #106
Thanks for your answer @mostaphaRoudsari  .
I'm using Revit 2018, maybe the version is too recent. I hope to hear from you and thanks for taking a look at it.

[2019-09-05 08:57] Monica-Xiao opened #107 "invalid literal for float(): DynamoForRevit"
Hello! Thank you for helping us by reporting bugs or requesting for improvements. Before posting your issue, please quickly review the notes below to ensure opening an issue is the right choice for your case.

- If this issue is **not** a bug report or improvement request, please check the [Ladybug Tools forum](http://discourse.ladybug.tools), and start a topic there to discuss your issue. If you

[2019-09-05 09:14] Monica-Xiao commented on #107
hi, I am recently starting to use Honeybee in Dynamo for light analysis. No matter in my own project or in the honeybee sample projects, I have the same problems for all the honeybee nodes, it says:

invalid literal for float(): DynamoForRevit
Traceback (most recent call last):
    File "<string>", line 48, in <module>
    File "<string>", line 16, in tryGetPluginPath
ValueError: invalid literal f

[2019-10-31 22:06] chenzhilu opened #108 "The honeybee can't be installed in Dynamo"
After I installed the Honeybee package in Dynamo and check the root folder, I found there is not any document in the bin floder. What is the problem? Can someone share their package with me?

Thanks!

[2019-11-01 11:03] chenzhilu commented on #108
@mostaphaRoudsari Can you give me some help

[2019-11-18 00:16] Koziu233 opened #109 "Honeybee (in Dynamo) illumination result extrenly high"
Hi,

I'm new to honeybee and is attempting to run a point in time gride based daylight optimization within Dynamo (Revit) -Honeybee.

I'm aware that the `Collect Rooms and Spaces` node does not work well according to the current Autodesk policy. I chose to use the traditional way of making HoneybeeSurfaces.

However, I found the illumination result in lux being extremely high which seems unreasona

[2019-11-19 20:56] chriswmackey commented on #109
This is not the correct place for this issue and it should be posted [here](https://github.com/ladybug-tools/honeybee-dynamo) instead.  Also, our Dynamo plugin is currently deprecated in the newer versions of Dynamo so you will likely have to go to an older version.

[2019-11-19 22:46] mostaphaRoudsari commented on #109
I transferred this issue to the correct repository.

Did you check the values in the weather file or try to run the study for an unprotected sensor for the same hour? What was the result in that case?

[2019-11-19 22:48] mostaphaRoudsari commented on #109
Also just to understand how the package worked in case what version of Revit are you using? It looks like the issue is with the newer versions of Revit and not necessarily Dynamo itself.

[2019-11-19 23:04] Koziu233 commented on #109
Hi Mostapha,

Thank you for your quick respond, I'm currently using **Revit 2019**. I tried to run the same point in time  analysis with the same weather file with using **Honeybee sample Revit model** within the package and that `CollectRoomAndSpace` node. I got the highest value at approximately 3000 near the window which I think could be reasonable. This led to my confusion of whether I made an

[2019-11-19 23:11] Koziu233 commented on #109
And also regarding a previous issue

https://github.com/ladybug-tools/honeybee-dynamo/issues/103

ERROR:
Local variable 'combs' referenced before assignment.

I also met the same problem when trying to output an annual analysis result.
Is there any chance that this bug could be solved?

[2019-11-26 20:44] shahrzad577 opened #110 "Hi, I am trying to use Honeybee and ladybug plugins in Dynamo to get daylight simulation. In the first step, it seems that I the "import EPW" node does not work. I connect a path file containing an EPW file but I get no result! I tried with some other EPW files, all downloaded from Energy plus website, but I have the same issue. How can I solve this problem? I checked the sample files. They also have the same problem for me. Is there any software or plugin that I need to download so the epw file could be read?"
Hello! Thank you for helping us by reporting bugs or requesting for improvements. Before posting your issue, please quickly review the notes below to ensure opening an issue is the right choice for your case.

- If this issue is **not** a bug report or improvement request, please check the [Ladybug Tools forum](http://discourse.ladybug.tools), and start a topic there to discuss your issue. If you

[2019-11-26 22:11] #110 closed, assigned to nobody

[2019-12-01 22:17] jrthill1 commented on #53
I am having the same issue, neither my legend or markers show up in Revit. Could it have something do to with the "null" from the Get Text Note by Name node? Thank you!

![image](https://user-images.githubusercontent.com/46583665/69921254-e1207d80-1455-11ea-899f-7cb009a46c97.png)

[2019-12-03 19:28] punderscoresmithuk commented on #103
Is anyone aware of a workaround?

[2020-02-12 09:59] charan1644 opened #111 "Node is showing "Honeybee is not installed,install it from package manager""
![bug2](https://user-images.githubusercontent.com/53040180/74324317-e16dbb00-4dac-11ea-848a-4bf9cc16079d.JPG)

![bug1](https://user-images.githubusercontent.com/53040180/74324303-dadf4380-4dac-11ea-84d2-2211bb89f14e.JPG)

Please let me know the issue at the earliest

[2020-02-13 01:55] mostaphaRoudsari commented on #111
This is a path issue. Basically the nodes cannot find where Honeybee package is installed. I have opened an issue on Dynamo's repository. Once the issue is addressed we can modify the nodes to address this issue.

https://github.com/DynamoDS/Dynamo/issues/6894

[2020-05-20 14:14] RasmusNH commented on #107
Anyone who has an answer for this issue? I got a similar issue.

[2020-05-20 19:00] #111 closed, assigned to nobody

[2020-05-20 19:05] charan1644 opened #112 "Refinery not running"
[Bug](url
![Screenshot (68)](https://user-images.githubusercontent.com/53040180/82486875-25363600-9afb-11ea-91d4-16ab7618733d.png)
![Screenshot (69)](https://user-images.githubusercontent.com/53040180/82486886-27989000-9afb-11ea-9879-8370c39716c1.png)
![Screenshot (70)](https://user-images.githubusercontent.com/53040180/82486892-28c9bd00-9afb-11ea-892a-32963e96807c.png)

) in Project Refinery,Issu

[2020-05-22 17:11] jairgalvan opened #113 "Ladybug - Honeybee Dynamo 2.0"
@mostaphaRoudsari

I have found that the issue of several nodes not working in Dynamo 2.0, giving errors such as:

**_ERROR:
Local variable 'combs' referenced before assignment.
...
Traceback (most recent call last):
File "", line 21, in
..._**

Is solvable by editing the custom node and **changing {} with [] on the inputs** (In Dynamo 2.0 lists are created with brackets)

After that I was able to

[2020-11-22 06:11] adonis8233 commented on #107
I have this issue too!

[2020-11-22 06:11] adonis8233 commented on #107
Did you solve it yet?

[2021-03-05 10:04] bocaj1988 opened #114 "wea node revit 2020"
When trying to run the sample files included in the honeybee installation I get a error in the wea node.

Trackback (most recent call last):
   File "<string>", line 55, in <module>
   File "<string>", line 18, in tryGetPluginPath
ValueError: invalid literal for float(): DynamoForRevit

Have any of you had this error, and are there a solution to this issue?

[2021-04-29 14:55] andreacolombo6596 opened #115 "Run Radiance Analysis"
Traceback (most recent call last):
File “”, line 36, in
File “C:\Users\Andrea\AppData\Roaming\Dynamo\Dynamo Revit\1.3\packages\Honeybee\extra\honeybee\radiance\recipe\pointintime\gridbased.py”, line 254, in write
write_to_file(batch_file, “\n”.join(self.commands))
File “C:\Users\Andrea\AppData\Roaming\Dynamo\Dynamo Revit\1.3\packages\Honeybee\extra\honeybee\futil.py”, line 121, in write_to_file
re

[2021-07-12 17:30] koubaaleila commented on #113
hello, i have a bug with ladybug/dynamo for any version of ladybug

![Capture](https://user-images.githubusercontent.com/24694950/125330897-39607680-e33f-11eb-8b55-80ea7cf2213d.JPG)

[2021-08-18 23:14] rogers53 commented on #107
I have the same problem ...

[2022-01-10 05:46] ugepirate01 commented on #107
I have the same problem as well.

We just installed the packages and openfoam to start learning Ladybug/Butterfly.

[2022-03-14 10:02] JChung-rpi commented on #107
I have the same problem..:(

[2022-04-05 00:34] anyinye commented on #107
Same here!